<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies</title>
  </head>
  <body>
    <h1>Puppies:</h1>
    <form method="POST" action="/">
      <h3>Name: </h3>
      <input type="text" name="name">
      <h3>Breed: </h3>
      <input type="text" name="breed">
      <h3>Age: </h3>
      <input type="text" name="age"></br></br>
      <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>
