<form action="/" method="POST">
  <p><label for="name">Name: <input type="text" name="name" id="name"></label></p>
  <p><label for="breed">Breed: <input type="text" name="breed" id="breed"></label></p>
  <p><label for="age">Age: <input type="text" name="age" id="age"></label></p>

  <input type="submit" id="submit">
</form>
