<!DOCTYPE>
<html>
  <h1>List a New Puppy!</h1>

  <form method="POST" action"/">
    <h3>Puppy Name: <input type="text" name="name"></h3>
    <h3>Puppy Breed: <input type="text" name="breed"></h3>
    <h3>Puppy Age: <input type="text" name="age"></h3>
    <input type="submit" name="submit" value="submit">
  </form>
</html>
