<h2> To list a puppy for adoption please enter the inforation below </h2>

<form method="POST" action="/display_puppy">
  Name:<br>
  <input type="text" name="name"><br>
  Breed:<br>
  <input type="text" name="breed"><br>
  Age:<br>
  <input type="text" name="age"><br>
  <input type="submit" value="submit">
</form>
