
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption!</title>
  </head>
  <body>

    <form method="post" action="/"> <!-- matches route in post request -->
      <p>Enter your puppy info:</p>

      <p>Puppy Name: <input type="text" name="name"></p> <!-- name is how we can access params -->
      <p>Puppy Age: <input type="text" name="age"></p>
      <p>Puppy Breed: <input type="text" name="breed"></p>

      <button type="submit" value="submit">Submit</button>
    </form>


  </body>
</html>
