<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/new" method="post">
      <label for="add_puppy">Add a New Puppy!</label>
      <input type="text" name="name" value="Name:"/>
      <input type="text" name="breed" value="Breed:"/>
      <input type="text" name="age" value="Age:"/>
      <input type="submit" value="submit"/>
    </form>
  </body>
</html>
