<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <label for="name">Puppy's Name</label>
      <input type="text" name="name" id="name">
      <label for="breed">Puppy's Breed</label>
      <input type="text" name="breed" id="breed">
      <label for="age">Puppy's Age</label>
      <input type="text" name="age" id="age">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
