<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form  method="post" action="/">
<p>Puppy Name: <input type="text" name="name"></p>
<p>Puppy Age: <input type="number" name="age"></p>
<p>Pupy Breed: <input type="text" name="breed"></p>
<input type="submit" id="submit">
</form>
</body>
</html>