<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Add a Puppy</h1>

    <form method="post" action="/">
      <p>Enter your puppies information:</p>
      <textarea name="name">Name: </textarea>
      <textarea name="breed">Breed: </textarea>
      <textarea name="age">Age: </textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
