<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Puppy Adoption</h1>
    <form method="post" action="/">
      <p>Click Here To List A Puppy:</p>
      <p>Name:</p>
      <input type="text" name="name">
      <p>Age:</p>
      <input type="text" name="age">
      <p>Breed</p>
      <input type="text" name="breed">
      <br>
      <input type="submit" id="submit">
    </form>
  </body>
</html>