
    <form method="POST" action="/puppy">
      <h1>Puppy's information here</h1>
      <label for="name">  Name</label><input type="text" id="name" name="name">
      <br>
      <label for="breed">  Breed</label><input type="text" id="breed" name="breed">
      <br>
      <label for="age">  Age</label><input type="text" id="age" name="age">
      <br>
      <input type="submit" value="submit">


    </form>
