<!DOCTYPE html>
<html>
<body>
  <form action="/display_puppy" method="POST">
    <p>Puppy Name: <input type="text" name="name"></input></p>
    <p>Puppy Breed: <input type="text" name="breed"></input></p>
    <p>Puppy Age: <input type="number" name="age"></input></p>
    <input type="submit" id="submit">Submit</input>
  </form>
</body>
</html>
