<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Poo-Paws Adoption</title>
 </head>
 <body>
   <form method="POST" action="/puppy">
     <p>Name <input type="text" name="name" id="name"></p>
     <p>Breed <input type="text" name="breed" id="breed"></p>
     <p>Age <input type="text" name="age" id="age"></p>
     <input type="submit" id="submit"> <!-- ID was the trick, not in the previous lab -->
   </form>
 </body>
</html>
