<!DOCTYPE html>
<html>
<head>
  <title>Puppy Adoption Site</title>
</head>
<body>
  <h1>Welcome to the Puppy Adoption Site</h1>
  <h2>Please list your puppy:</h2>

  <form method="POST" action="/new">
    <h3>Name: <input type="text" name="name"></h3>
    <h3>Breed: <input type="text" name="breed"></h3>
    <h3>Age: <input type="text" name="age"></h3>
    <input type="submit" value="submit">
  </form>

</body>
</html>
