<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      Enter dog name: <input type="text" name="name">
      Enter dog breed: <input type="text" name="breed">
      Enter dog age: <input type="text" name="age">
      <input type="submit" value="submit">
    </form>

  </body>
</html>
