<!DOCTYPE html>
<html>
  <head>
    <title>Create a Pup</title>
  </head>
  <body>
    <h2>Let's make a puppy</h2>
    <form method="POST" action="/puppy">
    <label for id="name">Puppie's Name</label>
      <input type="text" name="name" id="name">
    <label for id="breed">Puppie's breed</label>
      <input type="text" name="breed" id="breed">
    <label for id="age">Puppie's age</label>
      <input type="text" name="age" id="age">
      <input type="submit" id="submit">
    </form>
  </body>
</html>