<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>WOOF</title>
  </head>
  <body>
    <h1>List your dog!</h1>

    <form action="/display_puppy/" method="POST">
    Name:: <input type="text" name="name">
    <br/>
    Breed: <input type="text" name="breed">
    <br/>
    Age: <input type="text" name="age">
    <br/>
    <button type="submit" value="submit">Submit</button>
</form>
  </body>
</html