<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<form method="post" action='/list_puppy'>
  <h1>Dog's full name:<input type="text" id="name" placeholder="full_name" name="name"></h1><br>
  <h1>Dog's breed:<input type="text" id="breed" placeholder="breed" name="breed"></h1><br>
  <h1>Dog's age:<input type="text" id="age" placeholder="age" name="age"></h1><br>
  <input type="submit" value="submit">
</form>

</body>
</html>
