
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies!</title>
  </head>
  <body>
    <h1>List A Puppy For Adoption!</h1>
    <h2>Please fill out the following information for your puppy:</h2>

    <form action="/create_puppy" method="post">
      <p>Name: <input type="text" name="name"></p>
      <p>Breed: <input type="text" name="breed"></p>
      <p>Age: <input type="text" name="age"></p>
      <button type="submit" id="Submit">submit</button>
    </form>

  </body>
</html>
