<h1>Create Puppy</h1>

<form action="/new" method = "post">
  <p>Name: <input type ="text" name="name" placeholder="Name"> </p>
  <p>Breed: <input type ="text" name="breed" placeholder="Breed"> </p>
  <p>Age: <input type ="text" name="age" placeholder="Age"></p>
  <input type="submit" value ="submit">
</form>