<!DOCTYPE html>
<html>
  <head>
    <title>List a Puppy</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <p>Puppy Name: <input type="text" id="name" name="name"></p>
      <p>Puppy Breed: <input type="text" id="breed" name="breed"></p>
      <p>Puppy Age: <input type="text" id="age" name="age"></p>
      <input type="submit" id="submit" name="submit">
    </form>
  </body>
</html>
