<!DOCTYPE html>
<html>
	<head>
		<title>Puppies</title>
	</head>
	<body>
		<h1>Create Puppies</h1>

		<form method="POST" action="/display_puppy">

		<label for="name">Name:</label>
		<input type="text" name="name" id="name"><br><br>

		<label for="breed">Breed:</label>
		<input type="text" name="breed" id="breed"><br><br>

		<label for=age>Age:</label>
		<input type="text" name="age" id="age"><br>

		<input type="submit" id="submit" name="submit">
		</form>
	</body>

</html>