<form method="POST" action="/puppy">
  <input type="text" id="name" name="name">
  <input type="text" id="breed" name="breed">
  <input type="text" id="age" name="age">
  <input type="submit" id="submit" />
</form>