  <form method="post" action="/">
    <p>puppy's name:<input type="text" name="name"></p>
    <p>puppy's breed:<input type="text" name="breed"></p>
    <p>puppy's age:<input type="text" name="age"></p>
    <input type="submit" value="submit">
  </form>