<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Please fill the form with the necessary information!</h1>
    <form method="POST" action="/">
      Enter puppy name:<input type="text" name="name">
      Enter puppy breed:<input type="text" name="breed">
      Enter puppy age:<input type="text" name="age">
    <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>