<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
     <form method="post" action="/">
      <p>Name:<input type="text" name="name"></p>
      <p>Breed:<input type="text" name="breed"></p>
      <p>Age:<input type="text" name="age"></p>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html> 
