<!-- Now, we need to create a form for a user to list a new puppy that is available for adoption. You can create this form in views/create_puppy.erb. Remember, you'll need to set up another controller action for a user to be able to view this form in the browser. Another reminder: the "submit" button of a form is an <input> element with a type of "submit", not a <button> element. -->
<h1>List Your Puppy!</h1>
<form method="post" action="/new">
  <p>Puppy Name: <input type="text" name="name" placeholder="ex. Oscar" /></p>
  <p>Puppy Breed: <input type="text" name="breed" placeholder="ex. Labrador" /></p>
  <p>Puppy Age: <input type="text" name="age" placeholder="ex. 3" /></p>
  <button type="submit">submit</button>
</form>
