<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>New Puppy Form</h1>
    <form method="POST" action="/puppy">
      <label for="phrase">Name:</label>
      <input type="text" id="puppy_name" name="name">
      <label for="phrase">Breed:</label>
      <input type="text" id="puppy_breed" name="breed">
      <label for="phrase">Age:</label>
      <input type="text" id="puppy_age" name="age">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
