<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add A Pupper</title>
    <style>
      form fieldset {
        display: block;
        border: none;
        margin: 10px 0;
        padding: 0
      }
    </style>
  </head>
  <body>
    <form method="post" action="/">
      <fieldset>
        <label for="name">Puppy's Name</label>
        <input type="text" id="name" name="name">
      </fieldset>
      <fieldset>
        <label for="breed">Puppy's Breed</label>
        <input type="text" id="breed" name="breed">
      </fieldset>
      <fieldset>
        <label for="age">Puppy's Age</label>
        <input type="text" id="age" name="age">
      </fieldset>
      <fieldset>
        <input type="submit" value="submit">
      </fieldset>
    </form>
  </body>
</html>
