<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PUPPIES</title>
  </head>
  <body>
    <h1>Puppy maker 500</h1>
    <form method="post" action="/display_puppy">
      <h2>Create Puppy:</h2>
      Name: <textarea name="name"></textarea>
      Breed: <textarea name="breed"></textarea>
      Age: <textarea name="age"></textarea>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
