<form action="/" method="post">
   <label for="name_field">Name:</label>
   <input type="text" id="name_field" name="name">
   <label for="breed_field">Breed:</label>
   <input type="text" id="breed_field" name="breed">
   <label for="age_field">Age:</label>
   <input type="text" id="age_field" name="age">
   <input type="submit" id="submit">
</form>
