<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Adoption</title>
  </head>
  <body>

    <form method="POST" action="/">
      <h1>California Puppy Adoption</h1>
      <h3>Please enter information below</h3>
      <h4>Name: <input type="text" name="name"></h4>
      <h4>Breed: <input type="text" name="breed"></h4>
      <h4>Age: <input type="text" name="age"></h4>
      <input type="submit" id="submit">
    </form>

  </body>
  </html>
