<form method="post" action="/create">
  <p>Puppy name: <input type="text" name="name"></p>
  <p>Puppy breed: <input type="text" name="breed"></p>
  <p>Puppy age: <input type="text" name="age"></p>
  <input type="submit" id="submit">
</form>