<form action="/" method="POST" accept-charset="utf-8">
  <p>Enter puppy name: <input type="text" name="name"/></p>
  <p>Enter puppy breed: <input type="text" name="breed"/></p>
  <p>Enter puppy age: <input type="text" name="age"/></p>
  <input type="submit" value="Submit" name="Submit" id="submit"/>
</form>
