<form method="post" action="/displays">
  <label for="name"> Puppy Name: <input type="text" id="name" name="name"></label>
  <label for="breed"> Puppy Breed: <input type="text" id="breed" name="breed"></label>
  <label for="age"> Puppy Age: <input type="text" id="age" name="age"></label>
  <input type="submit" value="submit">
</form>
