<!DOCTYPE html>
<html>
<head>
  <title>Create a Puppy</title>
  <style>
  form input {
    align-self: left;
    margin-left: 20px;
    margin-top: 5px;
  }
  </style>
</head>

  <body>
    <h1>Create a new puppy profile</h1>
    <br>
    <form method="POST" action="/display_puppy">
        <label for="name">Puppy Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="breed">Breed</label>
        <input type="text" name="breed" id="breed">
        <br>
        <label for="age">Age</label>
        <input type="text" name="age" id="age">
        <br>
        <input type="submit" id="Submit">
    </form>

  </body>
</html>
