<!DOCTYPE html>
<html>
<head>
  <title>New Puppy</title>
</head>
<body>
  <form method="POST" action="/">
    <label>Puppy Name: </label><input type="text" name="name">
    <label>Age: </label>
    <input type="text" name="age">
    <label>Breed: </label>
    <input type="text" name="breed">
    <input type="submit" name="submit" value="submit">
  </form>
</body>
</html>
