<form method="post" action="/">
<label for="name">Name:
<input type="text" id="name" name="name"><br>
<label for="name">Breed:
<input type="text" id="breed" name="breed"><br>
<label for="name">Age:
<input type="text" id="age" name="age"><br>
<input type="submit" id="submit">
</form>
