<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Puppy Adoption Site</h1>
    <form action="/" method="post">
      Name:
      <input type="text" name="name" value=""><br>
      Breed:
      <input type="text" name="breed" value=""><br>
      Age:
      <input type="text" name="age" value=""><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
