<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <p>Name: <input name="name"></p>
      <p>Breed: <input name="breed"></p>
      <p>Age: <input name="age"></p>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
