<!DOCTYPE html>
<html>
<head>


</head>

<body>
  <form method="post" action='/display_puppy'>
    <p>Name: <input type="text" name="name"></p>
    <p>Age: <input type="text" name="age"></p>
    <p>Breed: <input type="text" name="breed"></p>
    <p>Submit <input type="submit" name="submit"></p>
  </form>



</body>


</html>
