<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Adopt a Puppie</title>
  </head>
  <body>
    <form action="/puppy" method="POST">
      <label for="name">Puppy Name</label>
        <input type="text" id="name" name="name">
      <label for="breed">Breed</label>
        <input type="text" id="breed" name="breed">
      <label for="age">Age</label>
        <input type="text" id="age"name="age">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
