<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/">
      Puppy Name:<input name="name"></input><br>
      Puppy Breed:<input name="breed"></input><br>
      Puppy Age:<input name="age"></input><br>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
