<!DOCTYPE html>
<html>


  <form method="post" action="/">

    <label>Name: <input type="text" name="name" /></label><br/>
    <label>Breed: <input type="text" name="breed" /></label><br/>
    <label>Age: <input type="text" name="age" /></label><br/>

    <button type="submit" value="submit">Submit</button>
  </form>

</html>
