<h1>Puppy Information</h1>

<form action="views/display_puppy.erb">
  Name:<br>
  <input type="text" name="name"><br>
  Breed:<br>
  <input type="text" name="breed"><br>
  Age:<br>
  <input type="text" name="age">
  <input type="submit" value="Submit">
</form>
