<!DOCTYPE html>
<html>
	<head>
		<title>Create Puppy</title>
	</head>
	<body>
		<h1>Add a puppy to our adoption list:</h1>
			<form>
				<p>Puppy: <input type="text"></p>
				<input type="submit">
			</form>
	</body>
</html>