<!DOCTYPE html>
<html>
  <head>
    <title>The Puppy Page!</title>
  </head>

  <body>
    <h1>Welcome!</h1>
    <p>In order for us to list your puppy, we need a few minor details first. Help us out!</p>

    <form method='POST' action='/'>
      <p>Name: <input name='name'></p>
      <p>Breed: <input name='breed'></p>
      <p>Age: <input name='age'></p>
      <br>
      <input type="submit" value="submit">
    </form>
  </body>


</html>
