<form method="POST" action="/display_puppy">
  <p>Name: <input type="text" name="name"></p>
  <p>Breed: <input type="text" name="breed"></P>
  <p>Age: <input type="text" name="age"></p>
  <button type="submit" value="submit"></button>
</form>
