<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puppy Adoption Site</title>
</head>
<body>
  <h1>Puppy Adoption Site</h1>
  <form method="POST" action="new">
    <p>Name: <input name="name" type="text"></p>
    <p>Breed: <input name="breed" type="text"></p>
    <p>Age: <input name="age" type="text"></p>
    <input value="submit" type="submit">
  </form>

</body>
</html>