<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Welcome to the Puppy Shelter Site!</h1>
    <h2>--List Your Puppy Below--</h2>
    <form method="POST" action="/display_puppy">
      <label for="name">Puppy's Name</label>
      <p><input type="text" id="name" name="name"></p>
      <label for="breed">Puppy's Breed:</label> 
      <p><input type="text" id="breed" name="breed"></p>
      <label form="age">Puppy's age</label>
      <p><input type="text" id="age" name="age"></p>
      <input type="submit" id="submit">
    </form>
  </body>
</html>