
<form action="/new" method="POST">
  <p><input type="text" name="name"></p>
  <p><input type="text" name="breed"></p>
  <p><input type="text" name="age"></p>
  <p><input type="submit" id="submit"></p>
</form>
