<h1>Puppy Information</h1>

<!--<form method="get" action="/">-->
<!--  <p>Input puppy information here:</p>-->
<!--  <textarea name="user_input"></textarea>-->
<!--  <br>-->
<!--  <input type="submit" value="submit">Submit</input>-->
<!--</form>-->

<form>
  Name:<br>
  <input type="text" name="name"><br>
  Breed:<br>
  <input type="text" name="breed"><br>
  Age:<br>
  <input type="text" name="age">
</form>