<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy adoptions</title>
 </head>
 <body>
   <h2>Puppy adoptions</h2>
   <form action = '/displays' method = 'post'>
     Puppy Name: <input type = 'text' name = 'name'>
     Puppy Breed: <input type = 'text' name = 'breed'>
     Puppy Age: <input type = 'text' name = 'age'>
     <input type = 'submit' id='submit'>
   </form>
 </body>
 </html>
