<form  action="/" method="post">
  Puppy Name: <input type="text" name="name">
  Puppy Breed: <input type="text" name="breed">
  Puppy Age: <input type="text" name="age">
  <input type="submit" name="submit" value="submit" id="submit"/>
</form>
