<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/new" method="post">
      <label for="name">Name: </label><input type="text" name="name" value="" id="name"></br>
      <label for="breed">Breed: </label><input type="text" name="breed" value="" id="breed"></br>
      <label for="age">Age: </label><input type="text" name="age" value="" id="age"></br>
      <input type="submit" name="submit" value="Submit" id="submit">
    </form>
  </body>
</html>
