<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Enter A New Puppy</title>
</head>
<body>
  
  <form method="POST" action="/">
    <p><label>Name: </label><input type="test" name="name"></p>
    <p><label>Breed: </label><input type="test" name="breed"></p>
    <p><label>Age: </label><input type="test" name="age"></p>
    <p><input type="submit" id="submit"></p>
  </form>

</body>
</html>