<!doctype html>

<html>
<head>
  <title></title>
</head>
<body>
  <form method="post" action="/">
    <p>Enter your phrase:</p>
    <textarea name="name"></textarea>
    <br>
    <textarea name="breed"></textarea><br>
    <textarea name="age"></textarea><br>
    <button type="submit" value="submit">Submit</button>
  </form>
</body>
</html>