

<p>List the puppies' description for adoption</p>

<form action="/" method="post">
    <label for="textbox">Please Enter Puppies Information</label>
      <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
      </p>
      <p>
    <label for="breed">Breed:</label>
    <input type="text" name="breed" id="breed">
      </p>
      <p>
    <label for="age">Age:</label>
    <input type="text" name="age" id="age">
      </p>
    <input type="submit" name="" value="submit">
</form>
