<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Create a Puppy</h1>
    <form method="POST" action="/display_puppy">
      <label>Name: <input type="text" name="name" /></label><br/>
      <label>Breed: <input type="text" name="breed" /></label><br/>
      <label>Age: <input type="text" name="age" /></label><br/>
      <input type="submit" id="submit" />
    </form>
  </body>
</html>