Hello World
<br>
This is create_puppy.erb

<form class="" action="/" method="post">
  <p>Name:<input type="text" name="name"/></p>
  <p>Breed:<input type="text" name="breed"/></p>
  <p>Age:<input type="number" name="age"/></p>
  <input type="submit" name="submit" id="submit"/>
</form>
