<form action="puppy" method="POST">
  Puppy Name: <input type="text" name="name">
  Puppy Breed: <input type="text" name="breed">
  Puppy Age: <input type="text" name="age">
  <input type="submit" value="submit">

</form>