<h2>List a Puppy</h2>

<form class="text" action="/" method="post">
  <p>Name:<input type="text" name="name"></p>
  <p>Breed:<input type="text" name="breed"></p>
  <p>Age:<input type="text" name="age"></p>
  <input type="submit" title= "submit" name="submit">
</form>
