<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Puppy Form</title>
  </head>
  <body>
    <h1>New Puppy Form</h2>
    <h3>Insert puppy information below:</h3>

    <form method="POST" action="/puppy">
      <p>Name:<input type="text" name="name"></p>
      <p>Breed:<input type="text" name="breed"></p>
      <p>Age:<input type="text" name="age"></p>
      <button type="submit" value="submit">Submit</button>

    </form>

  </body>

</html>
