<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Puppy</title>
</head>
<body>

<form method="post" action="/display_puppy">
  <p>Name: <input type="text" name="name"></p>
  <p>Breed: <input type="text" name="breed"></p>
  <p>Age: <input type="text" name="age"></p>
  <input type="submit" name="submit" value = 'submit'>
</form>

</body>
</html>
