<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <h2>Click here to List A Puppy</h2>

  <form action="/new" method="POST">
    <h2>Puppy name: <input type="text" name="name"></h2>
    <h2>Puppy breed: <input type="text" name="breed"></h2>
    <h2>Puppy age: <input type="text" name="age"></h2>
    <input type="submit" id="submit">
  </form>
</body>
</html>
