<form method="POST" action="/">
  <h2>Puppy Name: <input type="string" name="name"></h2>
  <h2>Puppy Breed: <input type="string" name="breed"></h2>
  <h2>Puppy Age: <input type="text" name="age"></h2>
  <input type="submit" value="submit" name="submit">
</form>
