<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>
<h1>Add a new puppy</h1>
<form method="post" action="/">
	<textarea name="name"></textarea>
	<textarea name="breed"></textarea>
	<textarea name="age"></textarea>

    <input type="submit" name="submit" value="submit">
</form>
</body>
</html>