<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>"Puppy List"</title>
  </head>
  <body>
    <form method="post" action="/">
    <p>Puppy Name:<input type="text" name="name"></p>
    <p>Puppy Age:<input type="text" name="age"></p>
    <p>Puppy Breed:<input type="text" name="breed"></p>
    <button type="submit" value="submit">
    </form>
] </body>
</html>
