<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
   <h1>Enter puppy details</h1>
   <form method="post" action="/new">
  <p>Enter Name:</p>
  <input type="submit" name="submit" value="submit">
  <textarea name="name"></textarea>
   <p>Enter  Breed:</p>
  <textarea name="breed"></textarea>
  <p>Enter Age:</p>
  <textarea name="age"></textarea>
  <br>

</form>

  </body>
</html>