<form method="POST" action="/new">
  <input type="text" placeholder="dog name" name="name"><br>
  <input type="text" placeholder="dog breed" name="breed"><br>
  <input type="text" placeholder="dog age" name="age"><br>
  <input type="submit" value="submit">
</form>