<!DOCTYPE>
<html>
<head></head>
<body>
    <h1>Welcome, to the Puppy Adoption site.</h1>
    <h3>Fill out the form for a new puppy</h3>
    <form method="POST" action="/new">
        Puppy Name: <input type="text" name="name">
        Puppy Breed: <input type="text" name="breed">
        Puppy Age: <input type="text" name="age">
        <button type="submit">submit</button>
    </form>
</body>
</html>
