<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies!!!</title>
    <style></style>
  </head>
 
  <body>
    
    <h1>Create a New Puppy</h1>
    <!--<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">-->
    <form method="post" action="/">
      <p><span>Puppy Name: </span><input type="text" name="name"></input></p>
      <p><span>Puppy Breed: </span><input type="text" name="breed"></input></p>
      <p><span>Puppy Age: </span><input type="text" name="age"></input></p>
      <p><input type="submit" value="submit"></p>
    </form>
    

  </body>
</html>