<html>
<head>
  <title>List New Puppy</title>
</head>
<body>
  <h1>Create a new puppy listing</h1>

  <form method="POST" action="/display_puppy">
    <h2>Puppy's name: <input type="text" name="name"/></h2>
    <h2>Puppy's breed: <input type="text" name="breed"/></h2>
    <h2>Puppy's age: <input type="text" name="age"/></h2>
    <input type="submit" value="submit"/>
  </form>
</body>
</html>