<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/" method="post">
  <p>Puppy Name: <input type="text" name="name"></p>
  <p>Puppy Breed: <input type="text" name="breed"></p>
  <p>Puppy Age: <input type="text" name="age"></p>

  <input id="submit" type="submit">

  </form>
</body>
</html>