<!DOCTYPE html>
  <html>
    <head>
      <title>New Puppy</title>
    </head>
    <body>
      <form method="POST" action="/new">
        <p>Name: <input type="text" name="name"></p>
        <p>Age: <input type="text" name="age"></p>
        <p>Breed: <input type="text" name="breed"></p>

        <input id="submit" type="submit">
      </form>
    </body>
  </html>