
<form action="/" method="post">

    <h1>name <input type="text" name="name"></h1>
    <h1>breed <input type="text" name="breed"></h1>
    <h1>age <input type="integer" name="age"></h1>
<br>
  <input type="submit" id = submit>

</form>
