<!DOCTYPE html>
<html>
<h1>This is the create puppy page</h1>
<form method='POST' action='/new'>
<p>Dog Name: <input type='text' name='name'</p>
<p>Dog breed: <input type='text' name='breed'</p>
<p>Dog age: <input type='text' name='age'</p>

<input type='submit' name='submit' id="submit">
</form>
</html>
