<!DOCTYPE html>
<html>
    <head>
      <title>Buster's Bowling</title>
    </head>
    <body>
      <form action="/new" method="post">

        <h3>Name: <input type="text" name="name" id="name" placeholder="Name"> </h3>
       
        <h3>Breed: <input type="text" name="breed" id="breed" placeholder="Breed"></h3>

        
        <h3>Age: <input type="text" name="age" id="age" placeholder="Age"></h3>
     

        <input type="submit" value="submit">
    </form>
  </body>
</html>
