<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1>Create Puppy</h1><br>
      <form method="post" action="/display_puppy">
       <p>Name: </p>
        <textarea name="name"></textarea><br>
       <p>Age: </p>
        <textarea name="age"></textarea><br>
       <p>Breed: </p>
        <textarea name="breed"></textarea><br>
        <button type="submit" value="submit">Submit</button>
      </form>
  
  </body>
</html>

