<h1>Enter puppy information below:</h1>

<form method="POST" action="/display_puppy">
  <p><label for="name">Enter puppy name:</label><input type="text" name="name" id="name"></p>
  <p><label for="breed">Enter puppy breed:</label><input type="text" name="breed" id="breed"></p>
  <p><label for="age">Enter puppy age:</label><input type="text" name="age" id="age"></p>
  <p><input type="submit" name="submit" id="submit"></p>
</form>