<h1>Puppy Form</h1>
<h3>All information is required</h3>
<br>
<form method= "post" action="/">
	<p>Please enter name:<input name="name" type="text"></p>
	<p>Please enter breed:<input name="breed" type="text"></p>
	<p>Please enter age:<input name="age" type="text"></p>
	<button type = "submit" value = "submit" >Submit</button>
</form>
