<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
  </head>
  <body>
    <form method="POST" action="/">
      <h2>
        <label for "name">Puppy Name: </label>
        <input type="text" name="name">
      </h2>
      <h2>
        <label for "name">Puppy Breed: </label>
        <input type="text" name="breed">
      </h2>
      <h2>
        <label for "name">Puppy Age: </label>
        <input type="text" name="age">
      </h2>
      <input type="submit" name="submit" id="submit">
  </body>
</html>
