<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create New Post for Adoption</title>
  </head>
  <body>
    <h1>Puppy Adoption Page</h1>
    <p>Enter your puppy's information:</p>
  <form method="post" action="/puppy">
    <label for="name">Puppy Name:</label>
    <input type="text" name="name"/>
    <label for="name">Puppy Breed:</label>
    <input type="text" name="breed"/>
    <label for="name">Puppy Age:</label>
    <input type="text" name="age"/>
    <input type="submit" value="submit">
  </form>
  </body>
</html>