<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF=8">
    <title>Create New Puppy</title>
  </head>
  <body>
    <form method="POST" action='/display_puppy'>
      <label for="name">Puppy Name: </label>
      <input type="text" name="name" id="name"><br>
      <label for="breed">Puppy Breed: </label>
      <input type="text" name="breed" id="breed"><br>
      <label for="age">Puppy Age: </label>
      <input type="text" name="age" id="age"><br>
      <input type="submit" name="submit" value="submit" id="submit">
    </form>
  </body>
</html>