<h1>Create puppy</h1>

<form method="POST" action="/">
  Puppy Name:  <input type="text" name="name"><br>
  Breed: <input type="text" name="breed"><br>
  Age:   <input type="text" name="age"><br>
  <input type="submit" value="submit">
</form>