<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome to Puppy Adoption Site</h1>


    <form class="" action="/display_puppy" method="post">
      <p><input type="text" name="name" value="dogs name"></p>
      <p><input type="text" name="breed" value="dogs breed"></p>
      <p><input type="text" name="age" value="dogs age"></p>
      <input type="submit" name="" value="submit">
    </form>



  </body>
</html>
