<!DOCTYPE html>
<head>
  <title>Puppy Adoption Site</title>
</head>
<body> 
  <h1>The Puppy Adoption Site</h1>
  <h2>Please list specifications for your puppy.</h2>
  <form method="POST" action="/puppy">
    <p>Name: <input type="text" name="name"></p>
    <p>Age: <input type="text" name="age"></p>
    <p>Breed: <input type="text" name="breed"></p>
    <input id="submit" type="submit">
  </form>
</body>
</html>