<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Finder</title>

  </head>
  <body>
      <form method="POST" action="/">
        <h1>Enter Puppy Info below</h1>
        Name: <input type="text" name="name"><br>
        Breed: <input type="text" name="breed"><br>
        Age: <input type="text" name="age"><br>
        <input value="submit" type="submit" name="submit">
      </form>
  </body>
<html>
