<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="/puppy">
      <label for="name"> Puppy Name </label>
      <input type="text" id="name" name="name"><br>
      <label for="breed"> Pubby Breed </label>
      <input type="text" id="breed" name="breed"><br>
      <label for="age"> Puppy Age </label>
      <input type="text" id="age" name="age"><br>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
