<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Create a new Puppy using the form:</h1>
    <form method="POST" action="/display_puppy">
      <p>Name: <input type="text" name="name"></p>
      <p>Breed: <input type="text" name="breed"></p>
      <p>Age: <input type="text" name="age"></p>
      <p><input id="submit" type="submit" value="submit"></p>
    </form>
  </body>
</html>
