!DOCTYPE html>
<html>
<head>
  <title>Puppy Adoptions</title>
</head>
<body>
  <h1>Click Here To List A Puppy</h1>
  <form method='POST' action = '/display'>
    <input type = "text" name = "name">
    <input type = "text" name = "breed">
    <input type = "text" name = "age">
    <input  type = "submit" value = "submit">
  </form>
</body>
</html>
