<!DOCTYPE html>
<html>
  <head>
    <title>Create Puppy Form</title>
  </head>

  <body>
    <h1>Create a Puppy</h1>
    <h2>Add a puppy that is available for adoption</h2>
    <form method="POST" action="/new">
      <p>Name: <input type="text" name="name">
      <p>Breed: <input type="text" name="breed">
      <p>Age: <input type="text" name="age">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
