<h1>Enter information about your puppy</h1>

<form method = "POST" action = "/display_puppy">
   Name: <input type="text" name="name">
   Breed: <input type="text" name="breed">
   Age: <input type="text" name="age">
  <input type="submit" id="submit">
</form>