<h1>Create Puppy</h1>
<form method="POST" action="/puppy">
  Puppy Name: <input type="text" id="name" name="name">
  Breed: <input type="text" id="breed" name="breed">
  Age: <input type="text" id="age" name="age">
    <input type="submit" value="submit">
</form>
