<h1> List a Puppy! </h1>
<h3> Please use the form below to list a new puppy. Fill out the form to your best ability.</h3>

<form method="POST" action='/new'>
  <p> Name: <input type ="text" name="name"></p>
  <p> Breed: <input type ="text" name="breed"></p>
  <p> Age: <input type ="text" name="age"></p>
  <input type ="submit" name="submit" id="submit">
</form>
