<h1>Create Puppy</h1>

<form method="POST" action="/puppy">
 <label for="name">Puppy Name</label>
 <input type="text" name="name" id="name">
 <label for="breed">Puppy Breed</label>
 <input type="text" name="breed">
 <label for="age" name="age">Puppy Age</label>
 <input type="text" name="age">
 <input type="submit" value="submit">
</form>