<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/">
      <p>Puppy Name: <input type="text" name="name" id="name" /> </p> <br />
      <p>Puppy Breed: <input type="text" name="breed" id="breed" /> </p> <br />
      <p>Puppy Age: <input type="text" name="age" id="age" /> </p> <br />
      <p><input type="submit" name="submit" id="submit" />
    </form>

  </body>
</html>
