<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <form method="post" action="/">
      <textarea name="name"></textarea>
      <textarea name="breed"></textarea>
      <textarea name="age"></textarea>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
