<form action="/" method="POST">
  <h1>Welcome to the Puppy Input Center!</h1>
  <h3>Please enter a puppies invormation</h3>
  <p>Name: <input type="text" name="name"></p>
  <p>Breed: <input type="text" name="breed"></p>
  <p>Age: <input type="text" name="age"></p>
  <button type="submit" name="submit" id="submit">Submit</button>
</form>
