<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Enter the Info Below!</h1>

    <form method="Post" action="/">
      <p>Name:</p><textarea name="name"></textarea>
      <p>Breed:</p><textarea name="breed"></textarea>
      <p>Age:</p><textarea name="age"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>