<!DOCTYPE html>
<html>

<H1>Welcome to Puppy Listings</H1>


<h3>List a new puppy:</h3>

<form method="post" action="/puppy">
  <p>
    Name: <input type="text" name="name"/>
  </p>
  <p>
    Breed: <input type="text" name="breed" />
  </p>
  <p>
    Age: <input type="text" name="age" />
  </p>
  <input type="submit" value="submit" />
</form>



</html>
