<form method="post" action="/">
  <p>Enter name: <input type="text" name="name"></p>
  <p>Enter breed: <input type="text" name="breed"></p>
  <p>Enter age: <input type="tel" name="age"></p>
  <input type="submit" id="submit">
</form>
