<!DOCTYPE HTML>
<html>
  <head>
    <title>Puppy Adoption Site</title>
  </head>
  <body>

    <h1>Northwest Puppy Adoption Site</h1>
    
    <form method='POST' action='/'>
      <h3>Enter information below</h3>
      <h4>Name: <input type='text' name='name'></h4>
      <h4>Breed: <input type='text' name='breed'></h4>
      <h4>Age: <input type='text' name='age'></h4>
      <input type='submit' value='submit' id='adpotion'>
    </form>

  </body>
</html>
