<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Form</title>
  </head>

  <body>
    <form method="post" action="/puppy">
      <label for="name">Puppy Name</label>
      <input type="text" id="name" name="name">
      <label for="breed">Puppy Breed</label>
      <input type="text" id="breed" name="breed">
      <label for="months_old">Puppy Age (in months)</label>
      <input type="text" id="months_old" name="months_old">
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>

</html>
