<form method="post" action="/">
  Enter Puppy Name:<input type="text" name="name"><br>
  Enter Puppy Breed:<input type="text" name="breed"><br>
  Enter Puppy Age:<input type="text" name="age"><br>
  <input id="submit" type="submit">
</form>
