<!DOCTYPE html>

<html>
  <head>
    <title>New Adoptable Puppy</title>
  </head>
  <body>
    <form action="/" method="POST">
      <p>Name:<input type="text" name="name"></p>
      <p>Age:<input type="text" name="age"></p>
      <p>Breed:<input type="text" name="breed"</p>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
