<h1>List Puppy</h1>

<form action="/new" method="post">
Name: <input type="text" name="name"><br>
Breed: <input type="text" name="breed"><br>
Age: <input type="text" name="age"><br>
<input type="submit" name="submit" value="submit">
</form>
