<h1>Create a New Pupps</h1>

<form action="/new" method="post">

    <h1>name <input type="text" name="name"></h1>
    <h1>breed <input type="text" name="breed"></h1>
    <h1>age <input type="integer" name="age"></h1>
<br>
  <h1><input type="submit"></h1>

</form>
