<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>add puppy</h1>
    <form method="post" action="/">
      name:<br>
      <input type="text" name="name"><br>
      breed:<br>
      <input type="text" name="breed"><br>
      age:<br>
      <input type="text" name="age"><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
