<form method="POST" action="/new">
  <p>Name: <input type="text" id="name" name="name"></p>
  <p>Breed: <input type="text" id="breed" name="breed"></p>
  <p>Age: <input type="text" id="age" name="age"></p>
  <p><input type="submit" id="submit" value="submit"></p>
</form>
