<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <form method ="POST" action="/display_puppy">
      <input type= "text" name="name">
      <input type= "text" name="breed">
      <input type= "text" name="age">
      <button type = "submit" value="submit">submit</button>

    </form>
  </body>
</html>
