<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Adoption Site</title>
 </head>
 <body>
   <h1>Create a Puppy!</h1>

   <form method="POST" action="/puppy">
        <label for="name">Puppy Name <input type="text" id="name" name="name" /></label>
        <label for="breed">Puppy Breed <input type="text" id="breed" name="breed" /></label>
        <label for="age">Puppy Age <input type="text" id="age" name="age" /></label>
        <input type="submit" id="submit" />
      </form>

 </body>
</html>
