<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Hi! Welcome to the Puppy Adoption Site</h1>
    <form method="post" action="/new">
      <p>What is the name of the puppy?</p>
      <textarea name="name"></textarea>
      <br>
      <p>What breed is the puppy?</p>
      <textarea name="breed"></textarea>
      <br>
      <p>What age is the puppy?</p>
      <textarea name="age"></textarea>
      <br>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
