<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy info</title>
  </head>
  <body>
      <form action="/create_puppy" method="POST">
      <p>Puppy name: <input type="text" name="name"></p>
      <p>Puppy breed: <input type="text" name="breed"></p>
      <p>Puppy age: <input type="text" name="age"></p>
        <input type="submit" id="submit">
      </form>
  </body>
</html>