<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Please list your dog's information below:</h1>
    <form action="/new" method="POST">
      <label for="name">Name:</label><input type="text" name="name"><br>
      <label for="breed">Breed:</label><input type="text" name="breed"><br>
      <label for="age">Age:</label><input type="text" name="age"><br>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
