<DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <h1>Add A Puppy</h1>

      <form method="post" action="/display_puppy">
        <p>Name: <input type="text" name="name"></p>
        <p>Age: <input type="text" name="age"></p>
        <p>Breed: <input type="text" name="breed"></p>

        <input type="submit" id="submit">
      </form>

    </body>
  </html>
