<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site!</h1>
    <h2>Please enter Puppy Information:</h2>
    <form action="/" method="post">
      <p>Name: <input type="text" name="name"></p>
      <p>Breed: <input type="text" name="breed"></p>
      <p>Age: <input type="text" name="age"></p>
      <input id="submit" type="submit">
    </form>
  </body>
</html>