<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="new_puppy" action="/" method="post">
      <label for="name">Puppy name:</label>
      <input type="text" name="name"><br>
      <label for="breed">Puppy breed:</label>
      <input type="text" name="breed"><br>
      <label for="age">Puppy age:</label>
      <input type="text" name="age"><br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
