<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Puppy Store</title>
  </head>
  <body>
    <h1>*~*Add your puppy*~*</h1>

    <h2>Enter puppy info:</h2>

    <form method="POST" action="/create">
      <p>Puppy name: <input type="text" name="name"></textarea></p>
      <p>Puppy breed: <input type="text" name="breed"></textarea></p>
      <p>Puppy age: <input type="text" name="age"></textarea></p>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
