<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Puppy Adoption Form</h1>
    <form method="post" action="/">
      <p>Puppy Name:</p>
      <textarea name="name"></textarea>
      <p>Puppy Age:</p>
      <textarea name="age"></textarea>
      <p>Puppy Breed:</p>
      <textarea name="breed"></textarea>
      <br>
      <input type="submit" value="submit"></input>
    </form>
  </body>
</html>
