<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>List Your Puppy Below</h2>
    <form method="POST" action="/display_puppy">
      <p>Name: <input type="text" name="name"></p>
      <p>Breed: <input type="text" name="breed"></p>
      <p>Age: <input type="text" name="age"></p>
      <input type="submit">
    </form>
  </body>
</html>