<html>
<body>
<form method="POST" action="/">
Name: <input name="name" type="text">
Breed: <input name="breed" type="text">
Age: <input name="age" type="text">
<input name="submit" value="submit" type="submit">
</form>
</body>
</html>
