<form action="/" method="post" id="form1">
  <p>Enter puppy name: </p>
  <textarea name="name"></textarea>
  <br>
  <p>Enter puppy breed: </p>
  <textarea name="breed"></textarea>
  <br>
  <p>Enter puppy age: </p>
  <textarea name="age"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
