<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/">
      <p>Puppy Name: <input type="text" name="name" value=""></p>
      <p>Puppy Breed: <input type="text" name="breed" value=""></p>
      <p>Puppy Age: <input type="text" name="age" value=""></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
