<!doctype html>
<html>
  <header>
    <title>Create A New Puppy!</title>
  </header>
  
  <body>
    <form method="POST" action="/puppy">
      <p>Age:<input type="text" name="age"></p>
      <p>Breed:<input type="text" name="breed"></p>
      <p> Name:<input type="text" name="name"></p>
      <input type="submit" id="submit">
    </form>
  </body>
</html>