<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Add New Puppy</title>
  </head>
    <body>
      <h1>Add New Puppy</h1>
        <form method="POST" action="/puppy">
            Name <input type="text" name="name">
            Breed <input type="text" name="breed">
            Age <input type="text" name="age">
            <input type="submit" value="submit">
        </form><br>
        <input type="button" value="Go Back To See All Puppies!" onclick="history.back(-1)" />
    </body>
</html>
