<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form method="POST" action="/display_puppy">
    <p>Puppy Name: <input type="text" name="puppy_name"></p>
    <p>Puppy Breed: <input type="text" name="puppy_breed"></p>
    <p>Puppy Age: <input type="text" name="puppy_age"></p>
    <input type="submit" name="submit">
  </form>
</body>
</html>
