<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>List the Puppies For Adoption</title>
 </head>
 <body>
   <h1>List Puppy</h1>
   <form method="POST" action="/">
     <p>Puppy Name: <input type="text" name="name"></p>
     <p>Puppy Breed: <input type="text" name="breed"></p>
     <p>Puppy Age: <input type="text" name="age"></p>
     <input type="submit" id="Submit" value="submit">
   </form>
 </body>
</html>
