<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>List a puppy</title>
  </head>
  <body>
    <form method="post" action="/">
      <p>List your puppy:</p>
      <p>Name: <textarea name="name"></textarea></p>
      <br>
      <p>Breed: <textarea name="breed"></textarea></p>
      <br>
      <p>Age: <textarea name="age"></textarea></p>
      <br>
      <input type="submit" value="submit"></button>
    </form>
  </body>
