<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Puppy</title>
  </head>
  <body>
    <h1>Thank you for helping us find a home for your puppy!</h1>
    <br>
    <form action="/" method="post">
      <p>Puppy Name: <input type="text" name="name"></p>
      <p>Puppy Breed: <input type="text" name="breed"></p>
      <p>Puppy Age: <input type="text" name="age"></p>
      <input type="submit" id="submit" value="Submit">
    </form>
  </body>
</html>
