<!DOCTYPE html>
<html>
<head>
  <title>Create</title>
</head>
<body>
<form method = "post" action="/display">
  <input type="text" name="name">
  <input type="text" name = "breed">
  <input type="text" name = "age">
  <input type="submit" value = "submit">

</form>

</body>
</html>