<!DOCTYPE html>
<html>
<head>
  <title>Your Puppy</title>
</head>
  <body>
    <h1><p>Enter your Puppy info:</p></h1>
     <form method="post" action="/display_puppy">
      <p>Name:</p>
      <textarea name="name"></textarea>
      <br>
      <p>Breed:</p>
      <textarea name="breed"></textarea>
      <br>
      <p>Age:</p>
      <textarea name="age"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>