<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>List a Puppy for Adoption</title>
  </head>
  <body>
    <h1>Fill out this form to list a puppy for adoption:</h1>

    <form method="post" action="/display_puppy">
      <p>Name:</p>
      <textarea name="name"></textarea>
      <br>
      <p>Breed:</p>
      <textarea name="breed"></textarea>
      <br>
      <p>Age:</p>
      <textarea name="age"></textarea>
      <br>
      <input type="submit" value="submit">    
      </form>
  
  </body>
</html>