<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>
  <body>

<form method="post" action="/">
  <p>Input your puppy:</p>
  Name: <input type="text" name="name" placeholder="name"><br>
  Breed: <input type="text" name="breed" placeholder="breed"><br>
  Age: <input type="number" name="age" placeholder="age"><br>
  <button type="submit" value="submit">Submit</button>
</form>

</body>
</html>
