<form class="" action="/" method="post">
  <p>Name: <input type="text" name="name" value=""></p>
  <p>Breed: <input type="text" name="breed" value=""></p>
  <p>Age: <input type="text" name="age" value=""></p>
  <button type="submit" name="submit">
    submit
  </button>
</form>
