<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Application Form</h1>
    <form method="post" action="/puppy">
      <p>Please enter the puppy name you would like to give up on:</p>
      <input type="text" name="name"></input>
      <br>
      <p>Breed:</p>
      <input type="text" name="breed"></input>
      <br>
      <p>Age:</p>
      <input type="text" name="age"></input>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
