<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Create a Puppy</h1>
    <form method="post" action="/puppy">

    <p>name: <input type="text" name = "name"> </p>
    <p>breed: <input type="text" name = "breed"> </p>
    <p>age: <input type="text" name = "age"> </p>
  <textarea name="user_phrase" id= "user_phrase"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
  
  </body>
</html>