<form action="/display_puppy" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br />
    <label for="breed">Breed:</label>
    <input type="text" name="breed" id="breed">
    <br />
    <label for="age">Age(months):</label>
    <input type="number" name="age" id="age" min="0">
    <br />
    <label for="submit"></label>
    <input type="submit" id="submit" value="Submit">
</form>