<!DOCTYPE html>
<html>
<head>
  <title>List A New Puppy</title>
</head>
<body>
<h1>Tell Us About This Puppy...</h1>
  <form method="POST" action="/new">
    <p>Name: <input type="text" name="name"></p>
    <p>Breed: <input type="text" name="breed"></p>
    <p>Age: <input type="text" name="age"></p>
    <input type="submit" name="button" value="submit">
</body>
</html>