<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form method="POST" action="/">
    <p>Name: <input type="textarea" name="name"></p>
    <p>Breed: <input type="textarea" name="breed"></p>
    <p>Age: <input type="textarea" name="age"></p>
    <input type="submit" id="submit" value="submit">
  </form>

</body>
</html>