<!DOCTYPE html>
<html>
<header>
  <meta charset="utf-8">
  <title>Create A Puppy</title>
</header>
<body>
  <form method = "POST" action= "/displayPuppy">
<p>Puppy name: <input type="text" name="name"></p>
<p>Puppy breed: <input type="text" name="breed"></p>
<p>Puppy age: <input type="text" name="age"></p>
<input type="submit" id="submit" name ="submit">
</form>
</body>


</html>
