<!DOCTYPE html>
<html>
<head>
	<title>List Puppy!</title>
</head>
<body>
	<form action="/" method="POST">
		<label for="name">Name:</label>
		<input type="text" name="name" id="name">
		<label for="breed">Breed:</label>
		<input type="text" name="breed" id="breed">
		<label for="age">Age:</label>
		<input type="text" name="age" id="age">
		<input type="submit" name="submit" id="submit">
	</form>
</body>
</html>