<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy</title>
  </head>
  <body>
    <h1>List Your Puppy</h1>
    <form method="POST" action="/new">
      <label for=":name">Puppy's Name: </label>
      <input type="text" id=":name" name="name">
    </br>
    </br>
      <label for=":breed">Puppy's Breed: </label>
      <input type="text" id=":breed" name="breed">
    </br>
    </br>
    <label for=":age">Puppy's Age: </label>
    <input type="text" id=":age" name="age">
    </br>
    </br>
    <input type="submit">
    </form>
  </body>
</html>
