<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List a Puppy</title>
    <style type="text/css">
    .container {
      width: 250px;
      clear: both;
    }
    .container input {
      width: 100%;
      clear: both;
    }
    </style>
  </head>
  <body>
    <h1>Please fill the form below</h1>
    <div class="container">
      <form action="/display-puppy" method="Post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name"><br>
        <label for="breed">Breed: </label>
        <input type="text" name="breed" id="breed"><br>
        <label for="age">Age: </label>
        <input type="text" name="age" id="age"><br>
        <input type="submit" value="submit">
      </form>
    </div>
  </body>
</html>
