<h2>Create a New Puppy</h2>
<form method="POST" action="/puppy">
	<p>Name of Puppy: <input type="text" id="name" name="name"></p>
	<p>Breed of Puppy: <input type="text" id="breed" name="breed"></p>
	<p>Age of Puppy: <input type="text" id="age" name="age"></p>
	<input type="submit" id="submit" name="submit">
</form>