<form action="/" method="post">
  <p>Plese list a puppy for adoption</p>
  <p>Name:<input type="text" name="name"></p>
  <p>Breed:<input type="text" name="breed"></p>
  <p>Age:<input type="text" name="age"></p>
  <button type="submit" value="submit">List a Puppy</button>
</form>
