<!DOCTYPE html>
<html>
<head>
  <title>Create a Puppy!</title>
</head>
<body>
  <h1>Create a puppy below!</h1>

  <form method="POST" action="/display_puppy">
    <label>Puppy Name: <input type="text" name="name"></label><br>
    <label>Puppy Breed: <input type="text" name="breed"></label><br>
    <label>Puppy Age: <input type="text" name="age"></label><br>
    <input type="submit" id="submit" value="Submit">
  </form>
</body>
</html>
