<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>create your puppy</h1>
    <form method="post" action="/">
      <p>Dog Name: <input type="text" name="name"></p>
      <p>Dog Breed: <input type="text" name="breed"></p>
      <p>Dog Age: <input type="text" name="age"></p>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>

</html>
