<!DOCTYPE html>
<head>
  <title>Fill in puppy info</title>
</head>
<body>

  <form method="POST" action"/create_puppy">
    <p>Puppy name:<input type="text" name="name"></p>
    <p>Breed:<input type="text" name="breed"></p>
    <p>Age:<input type="text" name="age"></p>
    <input type="submit" name="submit" id="submit"> 
  </form>



</body>
</html>
