<!DOCTYPE html>
<html>
  <form method='POST' action='/'>
    <p>Name<input type="text" name="name"></p>
    <p>Breed<input type="text" name="breed"></p>
    <p>Age<input type="text" name="age"></p>
  <p>Click Here To List A Puppy<input type="submit" id="submit" class="submit">
  </form>
</html>
