<form method="post" action="/puppy">
  <label for="name"> Puppy's Name</label>
  <input type="text" name="name">
  <p>
  <label for="breed"> Puppy's Breed</label>
  <input type="text" name="breed">
  <p>
  <label for="age"> Puppy's Age</label>
  <input type="text" name="age">
  <p>
  <input type="submit" value="submit">
</form>
