<form method="post" action="/create_puppy">
  Puppy Name:
  <input type="text" name="name">
  Puppy Breed:
  <input type="text" name="breed">
  Puppy Age:
  <input type="text" name="age">
  <input type="submit" name="submit" value="submit">
</form>