<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form action="/puppy" method="post">
        <label for="puppy_name">Puppy Name:</label>
        <input type="text" placeholder="Puppy Name" name="name">
        <label for="puppy_breed">Puppy Breed:</label>
        <input type="text" placeholder="Puppy Breed" name="breed">
        <label for="puppy_age">Puppy Age:</label>
        <input type="text" placeholder="Puppy Age" name="age">
        <input type="submit" value="submit">
    </form>
  </body>
</html>
