<!DOCTYPE html>
<html>
  <head>
    <title>List Puppies</title>
  </head>
  <body>
    <h2>Create A Puppy</h2>
    <form action="/new" method="POST">
      <label for="name">Name :</label>
      <input type="text" name="name"><br />
      <label for="breed">Breed :</label>
      <input type="text" name="breed"><br />
      <label for="age">Age :</label>
      <input type="text" name="age"><br />
      <input type="submit" id="submit">
    </form>
  </body>
</html>
