<h1>List A Puppy Here!</h1>

<form method="post" action="/display_puppy">
  <p>Name:<input type="text" name="name"></p>
  <p>Breed:<input type="text" name="breed"></p>
  <p>Age:<input type="text" name="age"></p>
  
  <br>
  <button type="submit" value="submit">Submit</button>
</form>