<!DOCTYPE HTML5>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>List Puppy Page</title>
  </head>

  <body>
    <h1>List A New Puppy For Adoption</h1>

    <form method="post" action="/">
      <p>Name:<input type="text" name="name"></p>
      <p>Breed:<input type="text" name="breed"></p>
      <p>Age:<input type="text" name="age"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
