<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <title>Create a Puppy</title>
  </head>
  <body>
    <form class="new" action="/display_puppy" method="post">
      Puppy Name: <input type="text" name="name">
      Puppy Breed: <input type="text" name="breed">
      Puppy Age: <input type="text" name="age">
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
