<!DOCTYPE>
<html>
  <head>
    <title>Puppers!!!</title>
  </head>
  <body>
    <h1>Puppy form</h1>
    <form method="POST" action="/create_puppy">
      <label for="puppy_name">Name:</label>
      <input type="text" id="puppy_name" name='name'>
      <label for="puppy_breed">Breed:</label>
      <input type="text" id="puppy_breed" name='breed'>
      <label for="puppy_age">Age:</label>
      <input type="text" id="puppy_age" name='age'>

      <input type="submit" id="submit">
    </form>
  </body>
</html>
