<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Puppy</title>
  </head>

  <body>

    <h1>New Puppy</h1>

    <form method="POST" action="/new">
      <p>Pupper Name: <input type="text" name="name"></p>
      <p>Pupper Breed: <input type="text" name="breed"></p>
      <p>Pupper Age: <input type="text" name="age"></p>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
