<h1>List-A-Pup</h1>

<form action="/" method="post">
  Name: <input type="text" name="name">
  Breed: <input type="text" name="breed">
  Age: <input type="text" name="age">
  Submit <input id="submit" type="submit" value="submit">
</form>