<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies!</title>
  </head>
  <body>
    <h1>Enter Puppy</h1>

      <form method="POST" action="/" id="form">
        <p>Name: <input type="text" name="name"></p>
        <p>Breed: <input type="text" name="breed"></p>
        <p>Age: <input type="text" name="age"></p>


        <input type="submit" id="submit"></input>
      </form>
  </body>
</html>
