expect(page).to have_selector("form")
expect(page).to have_field(:name)
expect(page).to have_field(:breed)
expect(page).to have_field(:age)

<form class="" action="/display_puppy" method="post">
  <p><input type="text" name="name" value="dogs name"></p>
  <p><input type="text" name="breed" value="dogs breed"></p>
  <p><input type="text" name="age" value="dogs age"></p>
  <input type="submit" name="" value="submit">
</form>
