<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy for adoption</title>
  </head>
  <body>

    <form action="/new" method="post">
      <p>Puppy's name: <input type="text" name="name" id="name"></p>
      <p>Puppy's breed: <input type="text" name="breed" id="breed"></p>
      <p>Puppy's age: <input type="text" name="age" id="age"></p>
      <p><input type="submit" id="submit"></p>
    </form>

  </body>
</html>
