<!DOCTYPE html>
<html>
	<head>
		<title>Create Puppy</title>
	</head>
	<body>
		<h1>Add a puppy to our adoption list:</h1>
			<form method="POST" action="/display_puppy">
				<p>Name: <input type="text" name="name"></p>
				<p>Puppy Breed: <input type="text" name="breed"></p> 
				<p>Age: <input type="text" name="age"></p>
				<input type="submit" id="submit">
			</form>
	</body>
</html>