
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1>Add your puppy</h1>
    <form method="POST" action="puppy">
      <p>Puppy Name: <input type="text" name="name"></p>
      <p> Breed <input type="text" name="breed"></p>
      <p> Age <input type="text" name="age"></p>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
