<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Dogville</h1>
    <form method="POST" action="/">
    name: <input tpye="text" name="name"><br>
    breed: <input type="text" name="breed"><br>
    age: <input type="text" name="age"><br>
    <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>
