<!DOCTYPE html>
<html>
  <head>
    <title>Puppies Form</title>
  </head>

  <body>
    <div>
      <form method="post" action="/">
        <p><label for="name">Puppy's Name: </label><input type="text" name="name" id="name"></p>
        <p><label for="age">Age: </label><input type="text" name="age" id="age"></p>
        <p><label for="breed">Breed: </label><input type="text" name="breed" id="breed"></p>
        <p><label for="submit"></label><input type="submit" name="submit" id="submit"></p>
    </div>
  </body>
</html>
