<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create A Puppy</title>
  </head>
  <body>

    <h2>Please enter the information about your puppy:</h2>

    <form method="POST" action="/">
      <p><input type="text" name="name" placeholder="Name" required></p>
      <p><input type="text" name="breed" placeholder="Breed" required></p>
      <p><input type="text" name="age" placeholder="Age" required></p>
      <p><input type="submit" value="submit"></p>

    </form>

  </body>
</html>
