<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List a Pup</title>
  </head>
  <body>
    <form action="/" method="post">
      <label for="name">Name: </label><input type="text" name="name" value="Name">
      <label for="breed">Breed: </label><input type="text" name="breed" value="Breed">
      <label for="age">Age: </label><input type="text" name="age" value="Age">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
