<!DOCTYPE html>
<html>
  <head>
    <title>List Your Puppy</title>
  </head>

  <body>
    <form method="post" action="/puppy">
      <p>Puppy Name:</p>
      <textarea name="name"></textarea>
      <br>
      <p>Puppy Breed:</p>
      <textarea name="breed"></textarea>
      <br>
      <p>Puppy Age:</p>
      <textarea name="age"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
