<!DOCTYPE html>
<html>
  <head>
    <title>Create a Puppy</title>
  </head>
  <body>
    <form action = "/new" method="POST">
      <p>Enter name: <input type = "text" name="name" id="name"</p>
      <p>Enter breed: <input type = "text" name="breed" id="breed"</p>
      <p>Enter age: <input type="text" name="age" id="age"</p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
