<form method="post" action="/create_puppy">
  <p>
    Name:&nbsp; <textarea name="name"></textarea><br/>
    Age:&nbsp; <input type="number" name="age" min="0"><br/>
    Breed:&nbsp; <textarea name="breed"></textarea>
  </p>
  <input type="submit" value="submit"></input>
</form>
