<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form>
    <p><label for="name">Name:</label>
    <input type="text" name="name"></input></p>
    <p><label for="breed">Breed:</label>
    <input type="text" name="breed"></input></p>
    <p><label for="age">Age:</label>
    <input type="text" name="age"></input></p>
    <input type="submit" value="submit"/>
  </form>
</body>
</html>