<!Doctype html>
<html>
<header>
  <Puppies!>
</header>

<body>

<h1>List Puppies Here:</h1>
<form action = "/puppy" method = "post">
  <p>Name: <input type = "text" input name = "name"></p>
  <p>Breed: <input type = "text" input name = "breed"></p>
  <p>Age: <input tupe = integer input name = "age"></p>
  <p><input type = "submit" input value = "submit"></p>
  </form>

</body>
</html>
