<!DOCTYPE HTML>
<html>
<body>
	<h1>Insert Puppy Information</h1>
	<form method="POST" action="/new">
		<h3>Puppy's Name:</h3> 
		<textarea name="name"></textarea>
		<h3>Puppy's Breed:</h3> 
		<textarea name="breed"></textarea>
		<h3>Puppy's Age:</h3> 
		<textarea name="age"></textarea>
		<input type="submit" value="submit">
	</form>
</body>
</html>