<html>
    <head>
    <meta charset="UTF-8">
    <title>Create-A-Puppy</title>
    </head>
    <body>
        <h1>Enter your puppy details here:</h1>

        <form method="POST" action="/display">
            <p><label for="name">Puppy Name: </label></p>
            <input type="text" id="name" name="name">
            <p><label for="breed">Puppy Breed: </label></p>
            <input type="text" id="breed" name="breed">
            <p><label for="age">Puppy Age: </label></p>
            <input type="text" id="age" name="age"><br><br>
            <button type="submit" value="submit">Submit</button>
        </form>
    </body>
</html>