<!DOCTYPE html>
<html>
<head>
  <title>Enter New Puppy Info</title>
</head>
<body>
  <form method="Post" action="/display_puppy">
    <h2>Puppy Name: <input type="text" name="name"></h2>
    <h2>Puppy Breed: <input type="text" name="breed"></h2>
    <h2>Puppy Age: <input type="text" name="age"></h2>
    <input type="submit" value="submit">
  </form>

</body>
</html>