<!DOCTYPE html>
<html>
  <head>
    <title>COS Puppy Adoption - List A Puppy</title>
  </head>
  <body>
    <h1>List a Puppy for Adoption</h1>
    <form method="POST" action="/">
      <p>Puppy Name: <input type="text" name="name"/></p>
      <p>Breed: <input type="text" name="breed"/></p>
      <p>Age: <input type="text" name="age"/></p>
      <input type="submit" id="submit" value="Submit"/>
    </form>
  </body>
</html>