<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Creator</title>
  </head>
  <body>
    <h1>Create a puppy</h1>
    <form method="post" action="/">
      <p>Name?</p>
      <textarea name="name"></textarea>
      <br>
      <p>Breed?</p>
      <textarea name="breed"></textarea>
      <br>
      <p>age?</p>
      <textarea name="age"></textarea>
      <br>

      <button type="submit" value="submit">Submit</button>
    </form>
  
  </body>
</html>