<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <title>Puppy Application</title>
</head>

<body>
  <h1>Application to Adopt a Puppy</h1>
    <form action="/puppy" method="post">
    Puppy Name:   <input type="text" name="name">
        <br/>
        <br/>
     Puppy Breed:   <input type="text" name="breed">
        <br/>
        <br/>
     Puppy Age:    <input type="text" name="age">
        <br/>
        <br/>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
  </html>
