<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1>Create New Puppy Listing</h1>
    
    <h1>Enter the details of the new puppy here:</h1>
    
   <form method="POST" action="/">
  <p>name: <input type="text" name="name"></p>
  <p>breed: <input type="text" name="breed"></p>
  <p>age: <input type="text" name="age"></p>
  
  <p><input type="submit" name='submit' id='submit'></p>
</form>
      
    
  
  </body>
</html>