<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>List-a-Pup</title>
  </head>
  <body>
    <h1>List A Puppy Here</h1>
      <form action="listing" method="post">
          <p>Dog Name: <input type="text" name="name"></p>
          <p>Breed: <input type="text" name="breed"> </p>
          <p>Age: <input type="text" name="age"> </p>
           <button type="submit">submit</button>

      </form>
  </body>
</html>
