

<form method="POST" action="/new">
  <p>Name<input type ="text" name="name"></p>
  <p>Name<input type ="text" name="breed"></p>
  <p>Name<input type ="text" name="age"></p>


  <button type="submit" value="submit">Submit</button>
</form>
