<!DOCTYPE html>
<htm>
  <head>
    <title>Add A New Puppy Here</title="">
  </head>

  <body>
    <form method='POST' action='/'>
      <p>"Puppy Name: <input type='text' name= 'name'></p>
      <p>"Puppy Breed: <input type='text' name= 'breed'></p>
      <p>"Puppy Age: <input type='text' name= 'age'></p>

      <button type='submit' value='submit'>Submit</button>
    </form>
  </body>
</html>
