<!DOCTYPE html>
  <html>
  <head>
    <title>List A Puppy!</title>
  </head>

  <body>

    <form method="POST" action="/">
      <p>Name: <input type = "text" name = "name"></p>
      <p>Breed: <input type = "text" name = "breed"></p>
      <p>Age: <input type = "age" name = "age"></p>
      <input type = "submit" name= "submit" value="submit">
    </form>
  </body>
</html>
