<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Create a puppy!</h1>

    <form method="POST" action="/new">
      <p>Create a new puppy by filling in the form below.</p>
      <p>Name:<input type="text" name="name"></p>
      <p>Age:<input type="text" name="age"></p>
      <p>Breed:<input type="text" name="breed"></p>
      <br>
      <input type="submit" value="Submit" id="submit">
    </form>

  </body>
  </html>
