<h1>Create Puppy</h1>
<form action="/new" method="POST">
  <p><label for="puppy_name">Name: <input type="text" name="name" id="puppy_name"></p>
  <p><label for="puppy_breed">Breed: <input type="text" name="breed" id="pupp_breed"></p>
  <p><label for="puppy_age">Age: <input type="text" name="age" id="puppy_age"></p>
  <input type="submit" id="submit">
</form>
