<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/display" method="post">
      <p>Name: <input type="text" name="name" value=""></p>
      <p>Breed: <input type="text" name="breed" value=""></p>
      <p>Age: <input type="text" name="age" value=""></p>
      <button id="submit" type="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
