<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create A Puppy</title>
  </head>
  <body>
    <h1>Create Your Puppy, Then Adopt Him!</h1>

    <form action="/display_puppy" method="post">
      <label for="name">Your Puppy's Name</label>
      <input type="text" name="name" value=""><br>
      <label for="breed">Your Puppy's Breed</label>
      <input type="text" name="breed" value=""><br>
      <label for="age">Your Puppy's Age</label>
      <input type="text" name="age" value=""><br>
      <input type="submit" name="submit" value="submit">
    </form>

  </body>
</html>
