<form method="POST" action="/">
  <p>Name:<input type="text" name="name" value="name"></p>
  <p>Breed:<input type="text" name="breed" value="breed"></p>
  <p>Age:<input type="text" name="age" value="age"></p>
  <input type="submit" name="submit" value="submit">
</form>
