<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Create a Puppy Listing</title>
    </head>
    <body>
      <h1>Create a Puppy Listing</h1>
      <form method="POST" action="/puppy">
        Name:<br>
        <input type="text" id="name" name="name"><br>
        Breed:<br>
        <input type="text" id="breed" name="breed"><br>
        Age:<br>
        <input type="text" id="age" name="age"><br>
        <input type="submit" id="submit">
      </form>
    </body>
</html>
