<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>puppies</title>
  </head>
  <body>
    <h1>Puppy Adoption!</h1>
    <form method="post" action="/">
      <p>Enter Puppy Name:<input type="text" name="name"></p>
      <p>Enter Puppy Breed:<input type="text" name="breed"></p>
      <p>Enter Puppy Age:<input type="text" name="age"></p>
      <input type="submit" id="submit" type="submit" value="submit">
    </form>
  </body>
</html>
