
<form method='POST' action="/display_puppy">
  <label>Name:</label>
  <input type='text' name='name'>
  
  <label>Breed:</label>
  <input type='text' name='breed'>
  
  <label>Age:</label>
  <input type='text' name='age'>
  
  <input type="submit" value='submit'>
</form>