<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a Puppy</title>
  </head>
  <body>
    <h1>Create Puppy Here</h1>
    <form method="POST" action="/">
      <h2>List Puppy Here</h2>
      <h3>Puppy Name:<input type="text" name="name" id="name"/></h3>
      <br>
      <h3>Puppy Breed:<input type="text" name="breed" id="breed"/></h3>
      <br>
      <h3>Puppy Age:<input type="number" name="age" id="age"/></h3>
      <input type="submit" value="submit" name="submit"/>
    </form>
    
  
  </body>
</html>
