<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Tell Us About</h1>
    <form method="post" action="/">
  <p>Click Here To List A Puppy</p>
  <textarea name="name"></textarea>
  <br>
  <textarea name="breed"></textarea>
  <br>
  <textarea name="age"></textarea>
  <br>
  
  <button type="submit" value="submit">Submit</button>
</form>
  
  </body>
</html>