<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value="name">
      <label for="breed">breed</label>
      <input type="text" name="breed" value="breed">
      <label for="age">Age</label>
      <input type="integer" name="age" value="age">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>