<!DOCTYPE html>
<html>
<head>
  <title>Sell your Puppies!</title>
</head>
<body>
  <form method="POST" action="/">
    <h1>Tell us about your puppy:</h1>
    <p>Name: <input type="text" name="name"></p>
    <p>Breed: <input type="text" name="breed"></p>
    <p>Age: <input type="text" name="age"></p>
    <button type="submit" value="submit">Submit</button>
  </form>
</body>
</html>
