<form method="post" action="/">
  <label for="name"> Puppy's Name</label>
  <input type="text" id="name" name="name">
  <label for="breed"> Puppy's Breed</label>
  <input type="text" id="breed" name="breed">
  <label for="age"> Puppy's Age</label>
  <input type="text" id="age" name="age">
  <input type="submit" value="submit">
</form>
