<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Puppy post</h1>
    <form method="post" action="/new">
      Name:<br>
      <input type="text" name="name"><br>
      Breed:<br>
      <input type="text" name="breed">
      Age:<br>
      <input type="text" name="age">
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>