<form action="/new" method="post">
  <label for="name">Name: <input type="text" name="name" value="name"></label>
  <label for="breed">Breed: <input type="text" name="breed" value="breed"></label>
  <label for="age">Age: <input type="text" name="age" value="age"></label>
  <input type="submit" name="Submit" value="submit">
</form>
