<!DOCTYPE>
<html>
<head></head>
<body>
    <form method="POST" action="/new">
        Puppy Name: <input type="text" name="name">
        Puppy Breed: <input type="text" name="breed">
        Puppy Age: <input type="text" name="age">
        <button type="submit">submit</button>
    </form>
</body>
</html>