<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      Puppy Name: <input type="text" name="name"><br>
      Puppy Breed: <input type="text" name="breed"><br>
      Puppy Age: <input type="text" name="age"><br>
      <input type="submit" name="submit" id="submit">
    </form>

  </body>
</html>
