<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>List a Puppy for Adoption</h1>

    <form method="POST" action="/display_puppy">
      <h2>Puppy's Name:<input type="text" name="name"></h2>
      <h2>Puppy's Breed:<input type="text" name="breed"></h2>
      <h2>Puppy's Age:<input type="text" name="age"></h2>
      <input type="submit" id="submit">
    </form>
  </body>
</html>