<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create A Puppy!</title>
  </head>
  <body>
    <h1>Create A Puppy</h1>
    <form method="post" action="/">
      <p>Name:
      <input type="text" name="name">
      </p>
      <br>
      <p>Breed:
      <input type="text"name="breed">
      </p>
      <br>
      <p>Age:
      <input type="text" name="age">
      </p>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  
  </body>
</html>