<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>List A Puppy</title>
  </head>
  <body>
    <h1>Puppy Adoption Site: Listings</h1>
    <h3>List your puppy using the form below:</h3>
    <form method="POST" action="/puppy">
      <p><label for="name">Puppy Name</label>
      <input type="text" id="name" name="name"></p>
      <p><label for="breed">Puppy Breed</label>
      <input type="text" id="breed" name="breed"></p>
      <p><label for="age">Puppy Age</label>
      <input type="text" id="age" name="age"></p>
      <p><input type="submit" id="submit" value="submit"></p>
    </form>
  </body>
</html>
