<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies 4 U</title>
  </head>
  <body>
    <h1>List A Puppy</h1>

    <form method="post" action="/new">
      <h3>Name: <input type="text" name="name"></h3>
      <h3>Breed: <input type="text" name="breed"></h3>
      <h3>Age: <input type="text" name="age"></h3>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>