
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Click Here To List A Puppy</h1>
    <form method="POST" action="/">
      <label for="name">Puppy Name:</label>
      <input type="text" id="name" name="name">
      <label for="breed">Breed:</label>
      <input type="text" id="breed" name="breed">
      <label for="age">Age:</label>
      <input type="text" id="age" name="age">
      <input type="submit" id = "submit">
    </form>
  </body>
</html>
