<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Puppy</title>
  </head>
  <body>
    <h1>Add puppy info</h1>

    <form action="/new" method="post">
      <p><label for="name">Puppy name:</label><br>
      <input type="text" name="name" id="name"></p>
      <p><label for="breed">Breed:</label><br>
      <input type="text" name="breed" id="breed"></p>
      <p><label for="age">Age:</label><br>
      <input type="text" name="age" id="age"></p>
      <p><input type="submit" value="submit"></p>


    </form>

  </body>
</html>
