<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>create_puppy</title>
  </head>
  <body>
    <h1>Please Enter Your Puppy's Information</h1>
    <form method="post" action="/new">
      <p>Name:</p>
      <textarea name="name"></textarea>
      <br>
      <p>Breed:</p>
      <textarea name="breed"></textarea>
      <br>
      <p>Age:</p>
      <textarea name="age"></textarea>
      <br>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
