<!DOCTYPE html>
 <html>
 <meta charset="UTF-8">
 <head>
<title>List a new puppy</title>
 </head>
<body>

  <form method="post" action="/">
  <p> <input type="text" name="name"> </p>
  <p> <input type="text" name="breed"> </p>
  <p> <input type="text" name="age"> </p>
  <input type="submit" id="submit">

</form>


  </body
