<!DOCTYPE html>
<html>
<head>
	<title>Create A Puppy!</title>
</head>
<body>

<form method="post" action="/puppy">
<p>Name: <input type="text" name="name"></p>
<p>Breed: <input type="text" name="breed"></p>
<p>Age: <input type="text" name="age"></p>
<input type="submit" name="submit" id="submit">
</form>

</body>
</html>