<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Factory</title>
  </head>
  <body>
    <form class="" action="/display_puppy" method="post">
      <label>Name: <input type="text" name="name"/></label></br>
      <label>Age: <input type="text" name="age"/></label></br>
      <label>Breed: <input type="text" name="breed"/></label></br>
      <input type="submit" name="submit" value="submit"></input>
    </form>
  </body>
</html>
