<h1>Create a Puppy</h1>

<form method="post" action="/new">
  <form method="POST" action="/">
    <p>Puppy Name:<input type="text" name="name" value="name"></p>
    <p>Puppy Breed:<input type="text" name="breed" value="breed"></p>
    <p>Puppy Age:<input type="text" name="age" value="age"></p>
    <input type="submit" name="submit" value="submit">
  </form>
