<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>create puppy</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
      <form method="POST" action="/new">
        <p>Enter puppy's name: <input type="text" name="name"></p>
        <p>Enter puppy's breed: <input type="text" name="breed"></p>
        <p>Enter puppy's age: <input type="text" name="age"></p>
        <input class="btn" type="submit" value="submit">
      </form>

  </body>
</html>
