<form method="POST" action="/puppy">
  <label for="name">Puppy Name</label>
  <p><input type="text" name="name" id="name" /> </p>
  <label for="breed">Puppy Breed</label>
  <p><input type="text" name="breed" id="breed" /> </p>
  <label for="age">Puppy Age</label>
  <p><input type="text" name="age" id="age" /> </p>

  <input type="submit" value="submit" />
</form>
