<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Adopt a puppy</h1>
    
    <form method="post" action="/new">
      <label for="name">Puppy name:</label>
      <input type="text" id="name" name="name"> 
      <label for="breed"> Puppy Breed</label>
      <input type="text" id="breed" name="breed">
      <label for="age"> Puppy Age</label>
      <input type="text" id="age" name="age">
      <input type="submit" value="submit">
    </form>