<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF=8">
  <title>Puppy</title>
</head>
<body>
  <form method="POST" action="/display_puppy">
     <p>Enter puppy name: <input type="text" name="name"></p>
     <p>Enter puppy breed: <input type="text" name="breed"></p>
     <p>Enter puppy age: <input type="text" name="age"></p>
     <input type="submit" id="submit">
</body>

</html>
