<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form method="POST" action="/display_puppy">
      <label for="name">Enter dog's name:</label>
      <input type="text" id="name" name='name'><br>
      <label for="breed">Enter dog's breed:</label>
      <input type="text" id="breed" name='breed'><br>
      <label for="age">Enter dog's age:</label>
      <input type="text" id="age" name='age'><br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
