<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Adoption</title>
    <h1>List New Puppy</h1>
  </head>
  <body>
    <form action="/" method="post">
      <label for="name">Name</label>
      <input type="text" name="name"><br>
      <label for="breed">Breed</label>
      <input type="text" name="breed"><br>
      <label for="age">Age</label>
      <input type="text" name="age">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
