<!DOCTYPE html>
<html>
  <head>
    <title>Create a listing for a puppy</title>
  </head>
  <body>
    <form action="/display_puppy" method="post">
      <p>Enter Puppy Name: <input type="text" name="name"></p>
      <p>Enter Puppy Breed: <input type="text" name="breed"></p>
      <p>Enter Puppy Age: <input type="text" name="age"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
