<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Enter Information about the Puppy</h1>
    <form method="POST" action="new">
      <p>Name: <input type="text" name="name"></p>
      <p>Breed: <input type="text" name="breed"></p>
      <p>Age: <input type="text" name="age"></p>
      <input value="submit" type="submit">
    </form>
  </body>
</html>