<h1>Add a puppy!</h1>

<form method='POST' action='/'>
  Name: <input type='text' name='name'>
  Breed: <input type='text' name='breed'>
  Age: <input type='text' name='age'>
  <input type='submit' id='submit'>
</form>