<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CREATE PUPPY</title>
  </head>
  <body>
    <form method="POST" action="/">
      <label for="name"></label>
      <input type="text" name="name" id="name" />

      <label for="breed"></label>
      <input type="text" name="breed" id="breed" />

      <label for="age"></label>
      <input type="text" name="age" id="age" />

      <input type="submit" name="submit" value="submit" />
    </form>
  </body>
</html>
