<!DOCTYPE html>
<html>
<head>
  <title>puppy list</title>
</head>
<body>
  <h1>CREATE puppy list</h1>
  <form action="/" METHOD="post">
  <p>Puppy's name: <input type="text" name="name"></p>
  <p>Puppy's breed: <input type="text" name="breed"></p>
  <p>Puppy's age: <input type="text" name="age"></p>
<input type="submit" value="submit">
</body>
