<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Add a new puppy below!</h1>
    <form method="POST" action="/new">
      <p>Name: <input type="TEXT" name="name"></p>
      <p>Breed: <input type="TEXT" name="breed"></p>
      <p>Age: <input type="TEXT" name="age"></p>
      <input type="submit" value="submit"></input>
    </form>
  </body>
</html>
