  
  <h3>new puppy added!</h3>
  <p><%= "Puppy Name:\n#{@dog.name}" %></p>
  <p><%= "Puppy Breed:\n#{@dog.breed}" %></p>
  <p><%= "Puppy Age:\n#{@dog.age}" %></p>


</br>
<a href="/new">Click Here To List A Puppy</a>