<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Your Puppy Listing </h1>
          <p> Puppy Name: <%= @pup.name %> </p>
          <p> Puppy Breed: <%= @pup.breed %> </p>
          <p> Puppy Age: <%= @pup.age %> </p>
  </body>
</html>
