<!DOCTYPE html>
<html>
  <head>
    <title>Display Puppies</title>
  </head>
  <body>
    <h1>Display Puppies</h1>
    <p>Puppy Name: <%= @new_puppy.name%></p>
    <p>Puppy Breed: <%= @new_puppy.breed%></p>
    <p>Puppy Age: <%= @new_puppy.age%></p>
  </body>
</html>


