<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>WOOF</title>
  </head>
  <body>
    <h1>Puppy Name:</h1>
     <%= @puppy.name %>
    Puppy Breed: <%= @puppy.breed %>
    Puppy Age: <%= @puppy.age %>

  </body>
</html