<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>New Puppy</h1>

    <p>Puppy Name: <%= @created_puppy.name %></p>
    <p>Puppy Breed: </p>
    <p>Puppy Age: </p>

  </body>
</html>
