<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= "Puppy Name: #{@new_puppy.name}" %></h2>
    <h3><%= "Puppy Breed: #{@new_puppy.breed}" %></h3>
    <h3><%= "Puppy Age: #{@new_puppy.age}" %></h3>
  </body>
</html>
