<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>puppies</title>
  </head>
  <body>
    <h1>Puppy Adoption!</h1>
    <h3>Puppy Name:</h3><br>
    <p><%= @name %></p><br>
    <h3>Puppy Breed:</h3><br>
    <p><%= @breed %></p><br>
    <h3>Puppy Age:</h3><br>
    <p><%= @age %></p>
  </body>
</html>
