<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies up for Adoption</title>
  </head>
  <body>

    <a href="/">Home</a>

    Puppy Name: <%= @puppy.name %>
    Puppy Breed: <%= @puppy.breed %>
    Puppy Age: <%= @puppy.age %>

  </body>
</html>
