<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Welcome To The Puppy Adoption Site!</h1>
        <p>Puppy Name: <%= @name %></p>
        <p>Puppy Breed: <%= @breed %></p>
        <p>Puppy Age: <%= @age %></p>    
    </body>
</html>
