<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy!</title>
 </head>
 <body>
    <% pup = Puppy.new(@name, @breed, @age) %>
   <h1>Puppy Name: <%=pup.name%></h1>
   <h2>Puppy Breed: <%=pup.breed%></h2>
   <h2>Puppy Age: <%=pup.age%></h2>

 </body>
</html>
