<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Puppy Search Results</h1>
      <p>Puppy Name: <%= @new_pup.name %></p>
      <p>Puppy Breed: <%= @new_pup.breed %></p>
      <p>Puppy Age: <%= @new_pup.age %></p>
  </body>
</html>
