<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Pup</title>
  </head>
  <body>

    <h1>Your Pup's Info</h1>

    Puppy Name: <%=" #{@name}" %>
    Puppy Breed: <%=" #{@breed}" %>
    Puppy Age: <%=" #{@age}" %>
  </body>
</html>
