<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Displaying a New Pet</title>
  </head>
  <body>
    <p> Puppy Name: <%= @puppy.name %> </p>
    <p> Puppy Breed: <%= @puppy.breed %> </p>
    <p> Puppy Age: <%= @puppy.age %> </p>
  </body>
</html>