
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h3>Puppy Name: <%=Puppy.name ></h3>
  <h3>Puppy Breed: <%= Puppy.breed > </3>
  <h3> Puppy Age: <%= Puppy.age ></h3>

  </body>
</html>
