<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy</title>
  </head>
  <body>
    <h1>Your Puppy</h1>
    <%= "Puppy Name:\n#{@name}" %>
    <%= "Puppy Breed:\n#{@breed}" %>
    <%= "Puppy Age:\n#{@age}" %>
  </body>
</html>
