<!DOCTYPE html>
<html>
<head>
  <title>Puppies Available</title>
</head>
<body>

<h1>Puppies available for adoption: </h1>

<p>Puppy Name: <%= @name %></p>
<p>Puppy Age: <%= @age %></p>
<p>Puppy Breed: <%= @breed %></p>

</body>
</html>