<!DOCTYPE html>
<html>
<body>
<h1>Your puppy:</h1>
<p>Puppy Name: <%= @puppy[:name] %></p>
<p>Puppy Breed: <%= @puppy[:breed] %></p>
<p>Puppy Age: <%= @puppy[:age] %></p>

<h5>Don't catch rabies.</h5>

</body>
</html>