<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppies Available for Adoption</title>
 </head>
 <body>

   <h1>Welcome to the puppy adoption site!</h1>
   <h2>Puppy Name: <%= params[:name] %></h2>
   <h2>Puppy Breed: <%= params[:breed] %></h2>
   <h2>Puppy Age: <%= params[:age] %></h2>

 </body>
</html>
