<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy</title>
  </head>
  <body>
    <h1>Display Puppy</h1>
      <br>
      <h2>Puppy Name: <%= @puppy.name %></h2>
      <h2>Puppy Breed: <%= @puppy.breed %></h2>
      <h2>Puppy Age: <%= @puppy.age %></h2>
      <br>
  </body>
</html>
