<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your puppy!</title>
  </head>
  <body>
    <h1>Here is your new puppy!</h1>
    <p>Puppy Name: <%= @pup.name %></p>
    <p>Puppy Age: <%= @pup.age %></p>
    <p>Puppy Breed: <%= @pup.breed %></p>

  </body>
</html>
