<!DOCTYPE html>
<html>
		<head>
			<title>A new puppy is here!</title>
		</head>
		<body>
			<p>Puppy Name: <%= @pp.name %></p>
		  <p>Puppy Breed: <%= @pp.breed %></p>
		  <p>Puppy Age: <%= @pp.age %> months</p>
		</body>
</html>

