<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>

  <body>
    <h1>Here's your puppy information:</h1>
    
    <p>Puppy Name: <%=params[:name]%></p>
    <p>Puppy Breed: <%=params[:breed]%></p>
    <p>Puppy Age: <%=params[:age]%></p>
  </body>
</html>
