<!DOCTYPE html>
<html>
  <head>
    <title>Puppy!</title>
  </head>

  <body>
    <h1>Your new puppy!</h1>

    <p>
      Puppy Name:<br>
      <%= @puppy.name %>
    </p><p>
      Puppy Breed:</br>
      <%= @puppy.breed %>
    </p><p>
      Puppy Age:</br>
      <%= @puppy.age %>
    </p>
  </body>
</html>
