<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title></title>
 </head>
 <body>
   <h3>Puppy Name:<%= "\n#{@new_puppy.name}" %></h3>
   <h3>Puppy Breed:<%= "\n#{@new_puppy.breed}" %></h3>
   <h3>Puppy Age:<%= "\n#{@new_puppy.age}" %></h3>
 </body>
</html>
