<!DOCTYPE html>
<html>
<head>
  <title>Puppy Adoption Site</title>
</head>
  <body>
    <h1><p>Your Puppy:</p></h1>
      <p>Puppy Name:</p>
      <p><%= @name = params["name"]%></p>
      <p>Puppy Breed:</p>
      <p><%= @breed = params["breed"]%></p>         
      <p>Puppy Age:</p>
      <p><%= @age = params["age"]%></p>
      <br>
      <a href="/">Back to home page</a>
  </body>
</html>