
<!DOCTYPE html>
<html>
<head>
	<title> welcome</title>
</head>
	<h1>welcome </h1>
  
   <h2>Puppy Name: <br><%= params["name"]%></h2>
   <h2>Puppy Breed: <br><%= params["breed"] %> </h2>
   <h2>Puppy Age: <br><%= params["age"] %> </h2>

</body>
</html>