<!DOCTYPE html>
<html>
<head>
  <title>Display Puppy</title>
</head>
<body>
  <h2>Puppy Name:</h2>
  <h3><%= @name %></h3>
  <h2>Puppy Breed:</h2>
  <h3><%= @breed %></h3>
  <h2>Puppy Age:</h2>
  <h3><%= @age %></h3>
</body>
</html>