<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies</title>
  </head>
  <body>
    <p>
      Puppy Name:<br>
      <%= @puppy.name %><br>
      Puppy Breed:<br>
      <%= @puppy.breed %><br>
      Puppy Age:<br>
      <%= @puppy.age %><br>
    </p>
  </body>
</html>
