<!DOCTYPE html>
<html>
<head>
  <title>Create Puppy</title>
</head>
<body>
  <h2>New Puppy added to Adoption List:</h2>
  <p>Puppy Name: <%= params[:name] %></p>
  <p>Puppy Age: <%= params[:age] %></p>
  <p>Puppy Breed: <%= params[:breed] %></p>
</body>
</html>