<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A puppy!</title>
  </head>
  <body>
    <h1>Puppy Name:<%= "\n#{@pup.name}" %></h1>
    <p>Puppy Breed: <%= "\n#{@pup.breed}" %> </p>
    <p>Puppy Age: <%= "\n#{@pup.age}" %> </p>
  </body>
</html>
