<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Welcome to Puppy Adoption!</h1>
    <p>Here is the puppy you listed:</p>
    <p>Puppy Name: <%= @name %> </p>
    <p>Puppy Age: <%= @age %> </p>
    <p>Puppy Breed: <%= @breed %></p>

  </body>
  </html>
