<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Puppy Info!</h1>
    <p>Puppy Name: <br><%= @newpup.name%></p>
    <p>Puppy Breed: <br><%= @newpup.breed%></p>
    <p>Puppy Age: <br><%= @newpup.age%></p>
  </body>
</html>