<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>My Puppy!</h1>
    </br>
    </br>
    <%="Puppy Name: #{@puppy.name}"%>
    </br>
    </br>
    <%="Puppy Breed: #{@puppy.breed}"%>
    </br>
    </br>
    <%="Puppy Age: #{@puppy.age}"%>
  </body>
</html>
