<!--<body>
  <p>Puppy Name: puppy name</p>
  <p>Puppy Breed: puppy breed </p>
  <p>Puppy Age:  puppy months</p>
</body> -->
<body>
<% @hash.each do |k,v| %>
    <p><%= k %>: <%= v %></p>
<% end %>
</body>