<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Register</title>
  </head>
  <body>
    <h1>Puppies:</h1>
    <h2>Puppy Name: <%= @newpuppy.name %></h2>
    <h2>Puppy Breed: <%= @newpuppy.breed %></h2>
    <h2>Puppy Age: <%= @newpuppy.age %></h2>
  </body>
</html>
