<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Puppy Listing</title>
  </head>
  <body>
    <h1>Your New Puppy</h1>
    <h3>Puppy Name: <%=@puppy_info.name %></h3>
    <h3>Puppy Breed: <%=@puppy_info.breed %></h3>
    <h3>Puppy Age: <%=@puppy_info.age %></h3>
  </body>
</html>
