<div class="starter-template">
  <h1>Puppy Adoptions!</h1>
  <p class="lead">Here are the details for <%= @puppy.name %>:</p>
    Puppy Name:<br />
    <%= @puppy.name %><br />
    Puppy Breed:<br />
    <%= @puppy.breed %><br />
    Puppy Age:<br />
    <%= @puppy.age %><br />
</div>
