<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>display_puppy</title>
  </head>
  <body>
    <h1>Puppy's info</h1>
    <p>Puppy Name:</p>
     <%=@puppy.name%>
    <p>Puppy Breed:</p>
     <%=@puppy.breed%>
    <p>Puppy Age:</p>
     <%=@puppy.age%>
  </body>
</html>
