<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Your Puppy!</title>
 </head>
 <body>
  <h1>Puppy Name:</h1>
    <h2><%= @pup_name %></h2>
  <h1>Puppy Breed:</h1>
    <h2><%= @pup_breed %></h2>
  <h1>Puppy Age:</h1>
    <h2><%= @pup_age %></h2>
 </body>
</html>
