<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Puppies</title>
  </head>
  <body>
    <h1>Here is The Puppies</h1>

      <p>Puppy Name: <%=@puppies.name%></p>
      <p>Puppy Breed: <%=@puppies.breed%></p>
      <p>Puppy Age: <%=@puppies.age%></p>

  </body>
</html>
