<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
    <div class="container">
      Puppy Name: <%= @puppy.name %>
      Puppy Breed: <%= @puppy.breed %>
      Puppy Age: <%= @puppy.age %>
    </div>
  </body>
</html>
