<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <p>Puppy Name: </p><%= @puppy.name %>
    <p>Puppy Breed: </p><%= @puppy.breed %>
    <p>Puppy Age: </p><%= @puppy.age %>

  </body>
</html>
