<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Finder</title>
  </head>
  <body>
      <h1>Puppy Info Below</h1>
        <h2>Name: <%=@name%></h2>
        <h2>Breed: <%=@breed%></h2>
        <h2>Age: <%=@age%></h2>
  </body>
<html>
