<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>

    <h2>Puppy Name: <%= @puppy_name %></h2>
    <p>Puppy Breed: <%= @puppy_breed %></p>
    <p>Puppy Age: <%= @puppy_age %></p>


  </body>
</html>
