<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is your puppy</title>
  </head>
  <body>
    <h1>This is your puppy</h1>
    <p>Puppy Name: <%= @name %></p>
    <p>Puppy Breed: <%= @breed %></p>
    <p>Puppy Age: <%= @age.to_s %> months</p>
  </body>
</html>
