<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Display Page</title>
  </head>
  <body>
    <!--<a href="display_puppy.erb">Click Here To List A Puppy"</a> -->
    <h1>Puppy Name:</h1>
      <h2><%= @puppy.name %></h2>
    <h1>Puppy Breed:</h1>
      <h2><%= @puppy.breed %></h2>
    <h1>Puppy Age:</h1>
      <h2><%= @puppy.age %></h2>
  </body>
</html>
