<!DOCTYPE html>
<html>
  <head>
    <title>The Puppy Page!</title>
  </head>

  <body>
    <h1>Here Is Your Puppy!</h1>

    <h2>Puppy Name: <%= @name %></h2>
    <h2>Puppy Breed: <%= @breed %></h2>
    <h2>Puppy Age: <%= @age %></h2>
  </body>


</html>
