<!DOCTYPE html>
<html>
  <head>
    <title>COS Puppy Adoption - Puppy Details</title>
  </head>
  <body>
    <h1>Your Future Puppy</h1>
    <form>
      <h3>Puppy Name:</h3>
      <p><%= @info[:name] %></p>
      <h3>Puppy Breed:</h3>
      <p><%= @info[:breed] %></p>
      <h3>Puppy Age:</h3>
      <p><%= @info[:age] %></p>
    </form>
  </body>
</html>