<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>This is the puppy that was just made.</h1>
  <p>Puppy Name: <%= @puppy.name %></p>
  <p>Puppy Breed: <%= @puppy.breed %></p>
  <p>Puppy Age: <%= @puppy.age %></p>

</body>
</html>