<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy for Adoption</title>
 </head>
 <body>

   <form method="post" action="/new">
     <p>Name: <%= params[:name] %></p>
     <p>Breed: <%= params[:breed] %></p>
     <p>Age: <%= params[:age] %></p>Input the text you want analyzed here:</p>

     <button type="submit" value="submit">Submit</button>
   </form>




 </body>
</html>
