<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Listing Created</h5>
    <h6 class="card-subtitle mb-2 text-muted">Information:</h6>
    <p class="card-text">Name: <%=@dog_name%></p>
    <p class="card-text">Age: <%=@dog_age%></p>
    <p class="card-text">Breed: <%=@dog_breed%></p>
    <a href="/" class="card-link">Home</a>
    <a href="/new" class="card-link">List Another</a>
  </div>
</div>
