<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <form method="POST" action="/">
    <p>Name: <%= @puppy.name %> <input type="text" name="name"></p>
    <p>Breed: <%= @puppy.breed %> <input type="text" name="breed"></p>
    <p>Age: <%= @puppy.age %> <input type="text" name="age"></p>
    <input type="submit" name="submit" id="submit" value="submit">
  </form>
</body>
</html>
