<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies!</title>
  </head>
  <body>
    <h1>PuppyBook</h1>
    <h2>List A Puppy</h2>
    <p>Puppy Name:<%="\n"+ @new_puppy.name%><p>
    <p>Puppy Breed:<%="\n" + @new_puppy.breed%></p>
    <p>Puppy Age:<%="\n"+@new_puppy.age%></p>
  </body>
</html>
