<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy</title>
  </head>
  <body>
    <h1>Puppy Information</h1>
    <h3>Puppy Name:</h3>
    <p><%= @puppy.name %></p>
    <h3>Puppy Breed:</h3>
    <p><%= @puppy.breed %></p>
    <h3>Puppy Age:</h3>
    <p><%= @puppy.age %></p>
  </body>
</html>
