<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Created Your Puppy!</title>
  </head>
  <body>
    <h1>This Is Your Puppy!</h1>
    <p>Your Puppy's Name: <%=@puppy.name%></p>
    <p>Your Puppy's Breed: <%=@puppy.breed%></p>
    <p>Your Puppy's Age: <%=@puppy.age%></p>

  </body>
</html>
