<!DOCTYPE html>
  <html>
  <head>
    <title>Here's A Puppy!</title>
  </head>

  <body>
    <p>Puppy Name: </p><%= @puppy.name %>
    <p>Puppy Breed: </p><%= @puppy.breed %>
    <p>Puppy Age: </p><%= @puppy.age %>

  </body>
</html>
