<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Puppy!</title>
  </head>
  <body>
    <h1>Your Newly Created Puppy</h1>
    <p>Puppy Name: <%= @name %></p>
    <p>Puppy Age: <%= @age %></p>
    <p>Puppy Breed: <%= @breed %></p>
  </body>
  <a href="/">Homepage</a>
</html>
