<html>
<head>
  <title>Do You Want This Puppy?</title>
</head>
<body>
  <h2>Puppy Name:</h2>
  <p><%= @puppy_name %></p>

  <h2>Puppy Breed:</h2>
  <p><%= @puppy_breed %></p>

  <h2>Puppy Age:</h2>
  <p><%= @puppy_age %></p>

</body>
</html>