<!DOCTYPE html>
<html>
<head>
  <title>Your Dog</title>
</head>
<body>
  <h2>Puppy Name: <%= params[:name] %></h2>
  <h2>Puppy Breed: <%= params[:breed] %></h2>
  <h2>Puppy Age: <%= params[:age] %></h2>
</body>
</html>