<!DOCTYPE html>
<html>
<head>
  <title>Puppy Adoption - New Puppy</title>
</head>
<body>
  <h1>Congrats! You've adopted a new puppy</h1>
  <p>Puppy Name: <%= params[:name] %></p>
  <p>Puppy Breed: <%= params[:breed] %></p>
  <p>Puppy Age: <%= params[:age] %></p>
</body>
</html>