<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Puppy</title>
 </head>
 <body>
   <h1> Puppy Name: <%=@puppy.name%></h1>
   <p> Puppy Breed: <%=@puppy.breed%></p>
   <p> Puppy Age: <%=@puppy.age%></p>
 </body>
</html>
