<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Puppy</title>
  </head>
  <body>
    <p><%="Puppy Name:\n#{@new_puppy.name}"%><br></p>
    <p><%="Puppy Breed:\n#{@new_puppy.breed}"%><br></p>
    <p><%="Puppy Age:\n#{@new_puppy.age}"%><br></p>
  </body>
</html>
