<!DOCTYPE html>
<html>
  <header>
    <title>Adoption Info</title>
  </header>
  <body>
    <h1>Adoption Information:</h1>
    <p>Puppy Name: <%= @new_puppy.name %></p>
    <p>Puppy Breed: <%= @new_puppy.breed %></p>
    <p>Puppy Age: <%= @new_puppy.age %></p>
  </body>
</html>
