<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Pup</title>
  </head>
  <body>
        <h1>Your Pup guy</h1>
    <h2>Puppy Name: <%= @pup.name %></h2>
    <h2>Puppy Breed: <%= @pup.breed %></h2>
    <h2>Puppy Age: <%= @pup.age %></h2>
  
    

  </body>
</html>
