<!DOCTYPE html>
<html>
<head>
  <title>Puppy Page</title>

</head>
<boh2y>
<h1>New Dog Details</h1>
<h2><%="Puppy Name: #{@puppy.name}" %></h2>
<h2><%="Puppy Breed: #{@puppy.breed}" %></h2>
<h2><%="Puppy Age: #{@puppy.age}" %></h2>

<br>

<a href="/">Click to return to homepage</a>
</body>
</html>