<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PUPPIES</title>
  </head>
  <body>
    <h1>Made puppy</h1>
      <p>Puppy Name:</p>
      <p><%= @puppy.name %></p>
      <p>Puppy Breed:</p>
      <p> <%= @puppy.breed %></p>
      <p>Puppy Age:</p>
      <p><%= @puppy.age %></p>
  </body>
</html>
