<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h3>Puppy Name: <%= params[:name] %> </h3>
  <h3>Puppy Breed: <%= params[:breed] %> </h3>
  <h3>Puppy Age: <%= params[:age] %> months </h3>
  </body>
</html>
