
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h2>Puppy Name:</h2>
    <%= @name %><br />
    <h2>Puppy Breed:</h2>
    <%= @breed %><br />
    <h2>Puppy Age:</h2>
    <%= @age %>

  </body>
</html>