<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>List a New Puppy</h1>
    <form method="POST" action="/">
      <p>Puppy Name: <%= @new_puppy.name %>
      <p>Puppy Breed: <%= @new_puppy.breed %>
      <p>Puppy Age: <%= @new_puppy.age %>
      <p><a href="/new">Click Here To List A Puppy</a></p>
  </body>
</html>
