<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Title</title>
 </head>
 <body>

   <h2><p>Puppy Name:</p></h2>
   <h2><%= params[:name] %></h2>
   <h2><p>Puppy Breed:</p></h2>
   <h2><%= params[:breed] %></h2>
   <h2><p>Puppy Age:</p></h2>
   <h2><%= params[:age] %></h2>


 </body>
</html>
