<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption Site</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
  </head>
  <body>
   <h1>New Puppy:</h1>
   <h3><%= "Name: #{@name}" %></h3>
   <h3><%= "Breed: #{@breed}" %></h3>
   <h3><%= "Age: #{@age}" %></h3>
 </body>
</html>
