<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy inscription validated</title>
  </head>
  <body>
    <h1>Your Puppy has been registered - thank you!</h1>
    <h5>Puppy Name: <%= @name %></h5>
    <h5>Puppy Breed: <%= @breed %></h5>
    <h5>Puppy Age: <%= @age %></h5>

  </body>
</html>
