<h3>New Puppy Added!</h3>
<p><%= "Puppy Name: \n#{@dog.name}" %></p>
<p><%= "Puppy Breed: \n#{@dog.breed}" %></p>
<p><%= "Puppy Age: \n#{@dog.age}" %></p>

</br>
<a href="/new">Click Here to List A Puppy</a>
