<!DOCTYPE>
<html>
<head></head>
<body>
    <h1>Welcome, to the Puppy Adoption site.</h1>
    <h3>Look at this new puppy for adoption</h3>
    <p>
        Puppy Name: <%= @new_puppy.name %><br>
        Puppy Breed: <%= @new_puppy.breed %><br>
        Puppy Age: <%= @new_puppy.age %><br>
    </p>
</body>
</html>
