<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pet Adoption</title>
  </head>
  <body>
    <h1>Puppy Details</h1>
    <img src="https://s3.amazonaws.com/learn-verified/puppies.gif">

      <p>Puppy Name: <%= @name %></p>
      <p>Puppy Breed: <%= @breed %></p>
      <p>Puppy Age: <%= @age %></p>
  </body>
</html>
