<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>PUPPY</title>
 </head>
 <body>
  <h1><%= "PUPPY" %></h1>
  <h2><%= "Name: #{@puppy["name"]}" %> </h2>
  <h2><%= "Breed: #{@puppy["breed"]}" %> </h2>
  <h2><%= "Age: #{@puppy["age"]}" %> </h2>

 </body>
</html>