<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy Page</title>
  </head>
  <body>
    <h1>Puppy Info</h1>
    Puppy Name: <%= @puppy_data[:name] %><br>
    Puppy Breed: <%= @puppy_data[:breed] %><br>
    Puppy Age: <%= @puppy_data[:age] %><br>
  </body>
</html>
