<body> 
  <!-- Interesting. If the values are nil or undefined, they display nothing at all instead of the word "nil". -->
  <p>Puppy Name: <%= @name %></p>
  <p>Puppy Breed: <%= @breed %></p>
  <p>Puppy Age: <%= @age %> months</p>
</body>
