<!DOCTYPE hmtl>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Puppy</title>
</head>
<body>
<h1>Here's Your Puppy's Info</h1>
<p>Puppy Name:</p>
<p><%=@puppy.name %></p>
<p>Puppy Breed:</p>
<p><%=@puppy.breed %></p>
<p>Puppy Age:</p>
<p><%=@puppy.age %></p>
</body>
</html>