<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy</title>
 </head>
 <body>
   <h1>Your new puppy!</h1>
   <%#binding.pry %>
    <h2><%= "Puppy Name:\n#{@puppy.name}" %></h2>
    <h2><%= "Puppy Breed:\n#{@puppy.breed}" %></h2>
    <h2><%= "Puppy Age:\n#{@puppy.age}" %></h2>
 </body>
</html>
