<!DOCTYPE html>
<html>
    <head>
        <title>Your New Listing</title>
    </head>
    <body>
        <h1>Your New Puppy Listing!</h1>
        <h2>Puppy Name: <%= @name %></h2>
        <h2>Puppy Breed: <%= @breed %></h2>
        <h2>Puppy Age: <%= @age %></h2>
    </body>
</html>