<html>
  <head>
   <title>Welcome</title>
  </head>

  <body>
    <ol>
     <li>Puppy Name: <%= @name %></li>
     <li>Puppy Breed: <%= @breed %></li>
     <li>Puppy Age: <%= @age %></li>
     </ol>
   </body>

</html>