<!DOCTYPE html>
<html>
<head>


</head>

<body>

    <p>Puppy Name: <%= "#{@new_pup.name}"%></p>
    <p>Puppy Age: <%= "#{@new_pup.age}"%></p>
    <p>Puppy Breed: <%= "#{@new_pup.breed}"%></p>



</body>


</html>
