
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption!</title>
  </head>
  <body>

    <h1>Your Puppy's Info:</h1>

    <h2>Puppy Name: <%= @analyzed_text.name %></h2>
    <h2>Puppy Age: <%= @analyzed_text.age %></h2>
    <h2>Puppy Breed: <%= @analyzed_text.breed %></h2>


  </body>
</html>
