<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  Puppy Name:<%="\n#{@name}" %>
  Puppy Breed:<%= "\n#{@breed}" %>
  Puppy Age:<%= "\n#{@age}" %>
</body>
</html>