<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PUPPIES</title>
    </head>
    <body>
        <h1>Puppy Info Display</h1>
          <p> Puppy Name: <%= @name %> </p>
          <p> Puppy Breed: <%= @breed %> </p>
          <p> Puppy Age: <%= @age %> </p>

    </body>
</html>