<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Puppy Name: <%= @info[:name].capitalize %></h2>
    <p>Puppy Breed: <%= @info[:breed].capitalize %></p>
    <p>Puppy Age: <%= @info[:age].capitalize %></p>
  </body>
</html>
