<!Doctype html>
<html>
<head>
  <title>Your Puppy</title>
  
</head>
<body>
<h1>Your Puppy</h1>
<p>Puppy Name: <%= @puppy.name %></p>
<p>Puppy Breed: <%= @puppy.breed %></p>
<p>Puppy Age: <%= @puppy.age %> </p>
</form>
</html>