<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PuppyList</title>
  </head>
  <body>
    <p>Puppy Name:</p><br>
    <p><%= @puppy.name %></p>
    <p>Puppy Breed: </p><br>
    <p><%= @puppy.breed %></p>
    <p>Puppy Age: </p><br>
    <p><%= @puppy.age %></p>
  </body>
</html>
