<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppies</title>
 </head>
 <body>
    <h2><%="Puppy Name: \n#{@input["name"]}"%></h2>
    <h2><%="Puppy Breed: \n#{@input["breed"]}"%></h2>
    <h2><%="Puppy Age: \n#{@input["age"]}"%></h2>
 </body>
</html>