<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Display Puppies</title>
  </head>
  <body>
    <h2>Your Puppy!</h2>
    <p><strong>Puppy Name: </strong><%= @puppy.name %></p>
    <p><strong>Puppy Breed: </strong><%= @puppy.breed %></p>
    <p><strong>Puppy Age: </strong><%= @puppy.age %></p>
  </body>
</html>
