<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppies</title>
 </head>
 <body>

   <h1> <%= "Puppy Name:\n#{@name}" %> </h1>
   <h2> <%= "Puppy Breed:\n#{@breed}" %> </h2>
   <h2> <%= "Puppy Age:\n#{@age}" %> </h2>



 </body>
</html>
