<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppies For Adoption</title>
 </head>
 <body>
   <h2>Puppy Name: <%= @name %></h2>
   <h2>Puppy Breed: <%= @breed %></h2>
   <h2>Puppy Age: <%= @age %></h2>
 </body>
</html>
