<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy view</title>
  </head>
  <body>
    <h2>Puppy Name: </h2> <p><%= @puppy.name %></p>
    <h2>Puppy Breed: </h2> <p><%= @puppy.breed %></p>
    <h2>Puppy Age: </h2> <p><%= @puppy.age %></p>
  </body>
</html>
