<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <p>Puppy Name:<br>
    <%=@display.name %><br>
    Puppy Breed:<br>
    <%=@display.breed %><br>
    Puppy Age:<br>
    <%=@display.age %> </p>

</body>
</html>
