<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display New Puppy</title>
  </head>
  <body>
    <h1>Here is the new puppy: </h1></br>
    <p>Puppy Name: <%= @name %></p>
    <p>Puppy Breed: <%= @breed %></p>
    <p>Puppy Age: <%= @age %></p>

  </body>
</html>
