
<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Your Puppy</title>
    </head>
    <h1>Puppy Name:</h1>
    <h2><%= @puppy.name%></h2>
    <h1>Puppy Breed:</h1>
    <h2><%= @puppy.breed%></h2>
    <h1>Puppy Age:</h1>
    <h2><%= @puppy.age%> months</h2>
</body>
</html>