<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Puppy Created!</title>
 </head>
 <body>
   <h1>Puppy Info! </h1>
    Puppy Name: <br/><%= @name %><br/>
    Puppy Age: <%= @age %><br/>
    Puppy Breed: <%=@breed %><br/>
  </body>
</html>
