<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies!</title>
  </head>
  <body>
    <h1>Puppy:</h1>
    <p>Puppy Name:<%="\n#{@params[:name]}"%></p>
    <p>Puppy Breed:<%="\n#{@params[:breed]}"%></p>
    <p>Puppy Age:<%="\n#{@params[:age]}"%></p>
    </form>
  </body>
</html>