<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies</title>
  </head>
  <body>
    <h1>Puppies Looking For A Home:</h1>
    <h2>Puppy Name: <%=@name%></h2>
    <h3>Puppy Breed: <%=@breed%></h3>
    <h3>Puppy Age: <%=@age%></h3>

  </body>
</html>
