<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Puppy adoptions</title>
</head>
<body>
  <h2>Puppy adoptions</h2>
  Puppy Name:
  <%= @puppy.name %>
  Puppy Breed:
  <%= @puppy.breed %>
  Puppy Age:
  <%= @puppy.age %>
</body>
</html>
