<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Puppy Name:</p>
    <p><%= @puppers.name %></p>
    <p>Puppy Breed:</p>
    <p><%= @puppers.breed %></p>
    <p>Puppy Age:</p>
    <p><%= @puppers.age %></p>
  </body>
</html>
