<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>

    <h1>Puppy Name: <%= @pup.name %></h1>
    <h2>Puppy Breed: <%= @pup.breed %></h2>
    <h2>Puppy Age: <%= @pup.age %></h2>

  </body>
</html>
