<!DOCTYPE html>
<html>
  <title>Display Puppy</title>

  <body>
    <h1>Puppy Info:</h1>
    <h1>Puppy Name:<%="\n"+@name%></h1>
    <h1>Puppy Breed:<%="\n"+@breed%></h1>
    <h1>Puppy Age:<%="\n"+@age%></h1>
  </body>
</html>
