<!DOCTYPE html>
<html>
  <head>
    <title>Display Puppy</title>
  </head>
  <body>
    <p>Puppy Name: <%= params[:name] %></p>

    <p>Puppy Breed: <%= params[:breed] %></p>

    <p>Puppy Age: <%= params[:age] %></p>
  </body>
</html>
