<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puppy List</title>
</head>
<body>
  <h1>Puppy List</h1>

  <p>Puppy Name: <%= @puppy.name %></p>
  <p>Puppy Breed: <%= @puppy.breed %></p>
  <p>Puppy Age: <%= @puppy.age %></p>
  
</body>
</html>