<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <titlPuppy Listing Confirmation</title>
  </head>
  <body>
    <h1>This is the puppy you listed for adoption:</h1>

    <p>Puppy Name: <%= @puppy.name %></p>
    <p>Puppy Breed: <%= @puppy.breed %></p>
    <p>Puppy Age: <%= @puppy.age %></p>
  
  </body>
</html>