<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Puppy Adoption Site: Display Puppy</h1>
    <h2>Here are your puppy's details:</h2>
    <p>Puppy Name: <%= params[:name] %></p>
    <p>Puppy Breed: <%= params[:breed] %></p>
    <p>Puppy Age: <%= params[:age] %></p>


  </body>
</html
