<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies!</title>
  </head>
  <body>
    <h1>Puppy Name: <%= "\n#{@new_puppy.name}" %></h1>
    <h1>Puppy Breed: <%= "\n#{@new_puppy.breed}" %></h1>
    <h1>Puppy Age: <%= "\n#{@new_puppy.age}" %></h1>
  </body>
</html>
