<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"> 
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    
    DISPLAY PUPPY
   <p>Name: <%= params[:name] %></p>
   <p>Breed: <%= params[:breed] %></p>
   <p>Age: <%= params[:age] %></p>
  </body>
</html>