<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies 'r' Us!</title>
  </head>
  <body>
    <h2>Your Little Guy Is Now Up For Adoption!</h2>
    <p>Puppy Name: <%= @pupper.name %></p>
    <p>Puppy Breed: <%= @pupper.breed %></p>
    <p>Puppy Age: <%= @pupper.age %></p>
  </body>
</html>
