<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Puppy.</title>
  </head>
  <body>
  </br>Puppy Name:<%="\n"+params[:name]%>
</br>Puppy Age:<%="\n"+params[:age]%>
  </br>Puppy Breed:<%="\n"+params[:breed]%>
  </body>
</html>
