<DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <h1>Add A Puppy</h1>

      <h2>Name: <%= @pup.name %></h2>
      <h2>Puppy Breed: <%= @pup.breed %></h2>
      <h2>Puppy Age: <%= @pup.age %></h2>

    </body>
  </html>
