<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <h1>Added Puppy</h1>

      <h2>Puppy Name: <%= @added_puppy.name %> </h2>
      <h2>Puppy Breed: <%= @added_puppy.breed %> </h2>
      <h2>Puppy Age: <%= @added_puppy.age %> </h2>
    </body>
    </head>
  </html>
