<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>TA-DA!</h1>
    <h2>Your puppy has been listed!</h2>
    <h3>Puppy Name: <%=@puppy.name%></h3>
    <h3>Puppy Breed: <%=@puppy.breed%></h3>
    <h3>Puppy Age: <%=@puppy.age%></h3>
  </body>
</html>