<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies, puppies, puppies!</title>
  </head>
  <body>
    <div>
      <p>Puppy Name: <%= @puppy.name %></p>
      <p>Puppy Breed: <%= @puppy.breed %></p>
      <p>Puppy Age: <%= @puppy.age %></p>
    </div>
  </body>
</html>
