<!DOCTYPE HTML>
<html>
  <head>
    <title>Puppy Adoption Site</title>
  </head>
  <body>

    <h1>Northwest Puppy Adoption Site</h1>
    <h4>Puppy Name: <%= @puppy.name %></h4>
    <h4>Puppy Breed: <%= @puppy.breed %></h4>
    <h4>Puppy Age: <%= @puppy.age %></h4>

  </body>
</html>
