<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h2>Thank you for your listing!<h2>
    <h4>Puppy Name: <%= @new_puppy.name %></h4>
    <h4>Puppy Breed: <%= @new_puppy.breed %></h4>
    <h4>Puppy Age: <%= @new_puppy.age %></h4>
  </body>
</html>