<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <pre><p>Puppy Name:<%= "\n" + @puppy.name %></p>  <p>Puppy Breed:<%= "\n" +  @puppy.breed %></p>    <p>Puppy Age:<%= "\n" +  @puppy.age %></p></pre>


  </body>
</html>