<!DOCTYPE html>
<head>
  <title>All about <%= @puppy.name %></title>
</head>
<body>
  <p>Puppy Name:</p>
  <%= @puppy.name %>
  <p>Puppy Breed:</p>
  <%= @puppy.breed %>
  <p>Puppy Age:</p>
  <%= @puppy.age %>
</body>
</html>

