<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>Thank you for Listing Your Puppy!</p>
      <p>Puppy Name: <%= @puppy.name %></p>
      <p>Puppy Breed: <%= @puppy.breed %></p>
      <p>Puppy Age: <%= @puppy.age %></p>
  </body>
</html>
