<!DOCTYPE html>
<html>
<head>
  <title>Puppy Adoption Site</title>
</head>
<body>
  <form method="POST" action="/">
      <p>Puppy Name: <%= @puppy.name %></p>
      <p>Puppy Breed: <%= @puppy.breed %></p>
      <p>Puppy Age: <%= @puppy.age %></p>
      <input type="submit" id="submit" name="submit" value="submit">
    </form>
  </form>
</body>
</html>
