<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Here's the puppy</title>
  </head>
  <body>
    <h1>Puppy Information</h1>
    <h3>Puppy Name:</h3>
    <h4><%= @pup_name %></h4>
    <h3>Puppy Breed:</h3>
    <h4><%= @pup_breed %></h4>
    <h3>Puppy Age:</h3>
    <h4><%= @pup_age %></h4>
  </body>
</html>