<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Listing</title>
  </head>
  <body>
    <h1>Your Listed Puppy</h1>
      <h2>Puppy Name:</h2>
      <p><%=@puppy.name%></p>
      <h2>Puppy Breed:</h2>
      <p><%=@puppy.breed%></p>
      <h2>Puppy Age:</h2>
      <p><%=@puppy.age%></p>
  </body>
</html>
