<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Dogville</h1>
    Puppy Name: <%=@dog.name%><br>
    Puppy Breed: <%=@dog.breed%><br>
    Puppy Age: <%=@dog.age%><br>

  </body>
</html>
