<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy</title>
  </head>

  <body>

    <h3>Puppy Name:</h3>
    <%= @new_puppy.name %>
    <h3>Puppy Breed:</h3>
    <%= @new_puppy.breed %>
    <h3>Puppy Age:</h3>
    <%= @new_puppy.age %> months

  </body>
</html>
