<!DOCTYPE>
<html>
  <head>
    <title>Puppers!!!</title>
  </head>
  <body>
    <h1>New Puppy!</h1>
    <h2>Puppy Name:</h2>
    <h3><%= @puppy.name%></h3>
    <h2>Puppy Breed:</h2>
    <h3><%= @puppy.breed%></h3>
    <h2>Puppy Age:</h2>
    <h3><%= @puppy.age%></h3>
  </body>
</html>
