<!DOCTYPE HTML5>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy Page</title>
  </head>

  <body>
    <h1>This New Puppy Will Be Available For Adoption</h1>
    <p>Puppy Name: <%= @puppy.name %></p>
    <p>Puppy Breed: <%= @puppy.breed %></p>
    <p>Puppy Age: <%= @puppy.age %></p>
  </body>
</html>
