<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Adoption Site</title>
 </head>
 <body>
   <h1><b>New Puppy Information</b></h1>
      <p><b>Puppy Name:</b><%= "\n#{@puppy.name}" %></p>
      <p><b>Puppy Breed:</b><%= "\n#{@puppy.breed}" %></p>
      <p><b>Puppy Age:</b><%= "\n#{@puppy.age}" %></p>
 </body>
</html>
