<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Puppy</title>
  </head>

  <body>

    <h1>New Puppy</h1>

    <h2>Puppy Name:<%= "\n#{@pupper.name}"%></h2>
    <h2>Puppy Breed:<%= "\n#{@pupper.breed}"%></h2>
    <h2>Puppy Age:<%= "\n#{@pupper.age}"%></h2>
  </body>
</html>
