<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Site - View Puppy</title>
  </head>
  <body>
    <label>Puppy Name:</label><br>
    <p><%= @puppy.name %></p><br>
    <label>Puppy Breed:</label><br>
    <p><%= @puppy.breed %></p><br>
    <label>Puppy Age:</label><br>
    <p><%= @puppy.age %></p>
  </body>
</html>
