<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Puppy Adoption Center : New Puppy Information</title>
</head>
<body>
<h1>Puppy Adopion Center : New Puppy Information</h1>

<h3>We've received the following information about your puppy.</h3>
<h4>Puppy Name: <%=@puppy.name%></h4>

<h4>Puppy Breed: <%=@puppy.breed%></h4>

<h4>Puppy Age: <%=@puppy.age%></h4>

</body>
</html>