<h1>Here is a new puppy:</h1>
<p>Name: <%= @newpuppy.name %></p>
<p>Breed: <%= @newpuppy.breed %></p>
<p>Age: <%= @newpuppy.age %></p>
<form method="GET" action="/new">
<label>Confirm if the information is correct:</label> <input type="submit" value="Submit"/>
</form>
