<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Display Puppy</title>
  </head>
  <body>
    <h1>Display Puppy</h1>
    <h3>Puppy Name:</h3>
      <%= @puppy.name %>
      <h3>Puppy Breed:</h3>
      <%= @puppy.breed %>
      <h3>Puppy Age:</h3>
      <%= @puppy.age %>
  </body>
</html>
