<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy</title>
  </head>
  <body>
    <h1 align="center">Here's your puppy!</h1>
    <p style="text-align:center;"><img src="https://images.petsmartassets.com/is/image/PetSmart/ARHERO-CleanupPetMessDosAndDonts-20160818?$AR0301$"></p>
    <h3>Puppy Name: </h3><p><%= "#{params[:name]}" %></p>
    <h3>Puppy Breed: </h3><p><%= "#{params[:breed]}" %></p>
    <h3>Puppy Age: </h3><p><%= "#{params[:age]}" %></p>
  </body>
</html>
