<!DOCTYPE HTML>
<html>
  <head>
    <title>Create a puppy!</title>
  </head>
  <body>
    <p><%= "Puppy Name:\n#{@new_puppy.name}"%><br>
    <%= "Puppy Breed:\n#{@new_puppy.breed}"%><br>
    <%= "Puppy Age:\n#{@new_puppy.age}"%><br></p>
  </body>
</html>
