<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Puppies</title>
    </head>
    <body>
        <h1>Welcome to Puppies</h1>
        <p>Puppy Name:</p>
        <p><%= @name %></p>
        <p>Puppy Breed:</p>
        <p><%= @breed %></p>
        <p>Puppy Age:</p>
        <p><%= @age %></p>
    </body>
</html>