<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%="Puppy Name:\n#{@puppy.name}" %>
    <%= "Puppy Breed:\n#{@puppy.breed}" %>
    <%= "Puppy Age:\n#{@puppy.age}" %>
  </body>
</html>
