<!DOCTYPE html>
<html>
<center>
  <h1>Here is your pup's information</h1>
  <p>Puppy Name: <%= @puppy.name%></p>
  <p>Puppy Breed: <%= @puppy.breed%></p>
  <p>Puppy Age: <%= @puppy.age%></p>
</center>
</html>