<!DOCTYPE html>
<htm>
  <head>
    <title>A NEW Puppy!</title="">
  </head>

  <body>
    <p>Puppy Name: <%= @new_pup.name%></p>
    <p>Puppy Breed: <%= @new_pup.breed%></p>
    <p>Puppy Age: <%= @new_pup.age%></p>
  </body>
</html>
