<!DOCTYPE html>

<html>
  <head></head>
  <body>
    <% new_puppy = Puppy.new(@name, @breed, @age) %>
    <h1>Here is the information you submitted:</h2>
    <p>Puppy Name: <%= @name %></p>
    <p>Puppy Age: <%= @age %></p>
    <p>Puppy Breed: <%= @breed %></p>
  </body>
</html>
