<!DOCTYPE html>
<html>
<head>
  <title>Puppy Adoption Site</title>
</head>
<body>
  <h1>Welcome to the Puppy Adoption Site</h1>
  <h2>Here is the puppy you inputted:</h2>
  <h3>Puppy Name: <%= @new_puppy.name %></h3>
  <h3>Puppy Breed: <%= @new_puppy.breed %></h3>
  <h3>Puppy Age: <%= @new_puppy.age %></h3>

</body>
</html>
