<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Here's your puppy</title>
  </head>
  <body>
    <p>Puppy Name: <%= params[:name] %></p>
    <p>Puppy Breed: <%= params[:breed] %></p>
    <p>Puppy Age: <%= params[:age] %></p>
  </body>
</head>
</html>
