<!DOCTYPE html>
 <html>
   <body>
     <p>Puppy Name:</p>
     <p><%=params[:name]%></p>
     <p>Puppy Breed:</p>
     <p><%=params[:breed]%></p>
     <p>Puppy Age:</p>
     <p><%=params[:age]%></p>
   </body>
 </html>
