<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Your Puppy!</h1>
   <h2>Puppy Name: </h1><%= @name %>
   <h2>Puppy Breed: </h2><%= @breed %>
   <h2>Puppy Age: </h2><%= @age %>
 </body>
</html>
