<!DOCTYPE html>
<html>
<head>
  <title>Create A Puppy!</title>
</head>
<body>

<h1>CHECK OUT DIS PUPPY!</h1>
<p>Puppy Name:</p>
<%= @puppy.name %>
<p>Puppy Breed:</p>
<%= @puppy.breed %>
<p>Puppy Age:</p>
<%= @puppy.age %>

</body>
</html>