<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy</title>
  </head>
 
  <body>
  	<h2>Listed Puppy:</h2>
  	<p>Puppy Name:<%= "\n#{@puppy.name}" %></p>
    <p>Puppy Age:<%= "\n#{@puppy.age}" %></p>
    <p>Puppy Breed:<%= "\n#{@puppy.breed}" %></p>
  </body>