<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <!-- <%=@new_puppy%> -->
    <h2>Puppy Name: <%=@puppy.name%><h2>
    <h2>Puppy Breed: <%=@puppy.breed%><h2>
    <h2>Puppy Age: <%=@puppy.age%><h2>
  </body>
</html>
