<div class="container">
<h1>Your New Puppy!</h1>
<h2>Puppy Name: <%= @puppy.name %></h2>
<h2>Puppy Breed: <%= @puppy.breed %></h2>
<h2>Puppy Age: <%= @puppy.age %></h2>
<a href="/new">Click Here To List A Puppy</a>
</div>