<!DOCTYPE>
<html>
<head></head>
<body>
    <p>
        Puppy Name: <%= @puppy.name %><br>
        Puppy Breed: <%= @puppy.breed %><br>
        Puppy Age: <%= @puppy.age %><br>
    </p>
</body>
</html>