<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pig Latinizer!</title>
    </head>
    <body>
        <h1>Here's your new puppy.</h1>
        <h2>Puppy Name:</h2>
        <h2><%= @puppy.name %></h2>
        <h2>Puppy Breed:</h2>
        <h2><%= @puppy.breed %></h2>
        <h2>Puppy Age:</h2>
        <h2><%= @puppy.age %> months</h2>
    </body>
</html>
