<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Puppy</title>
 </head>
 <body>

   <h1>Puppy Name: <%=@new_puppy.name%></h1>
   <h3>Puppy Breed: <%=@new_puppy.breed%></h3>
   <h3>Puppy Age: <%=@new_puppy.age%></h3>


 </body>
</html>
