<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>results</title>
  </head>
  <h1> Puppy Name:</h1>
  <h2><%= @puppy_love.name %> </h2>

  <h1> Puppy Breed:</h1>
  <h2><%= @puppy_love.breed %> </h2>

  <h1> Puppy Age:</h1>
  <h2><%= @puppy_love.age%> </h2>
</html>
