<!DOCTYPE html>
<html>
  <head>
    <title>Pet Adoption Center</title>
  </head>
  <body>
    <h1>Pet for adoption</h1>
    <p>Puppy Name: <%="#{@name}"%></p>
    <p>Puppy Breed: <%="#{@breed}"%></p>
    <p>Puppy Age: <%="#{@age}"%></p>
  </body>
</html>
