<html>
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy</title>
  </head>
  <body>
    <h1>Puppy Name: <%= @puppy_name %></h1>
    <h1>Puppy Breed: <%= @puppy_breed %></h1>
    <h1>Puppy Age: <%= @puppy_age %></h1>
  </body>
</html>
