<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoptions!</title>
  </head>
  <body>
    <h1>Thanks for listing your puppy!</h1>
    <h3>Puppy Name:</h3>
    <p><%= @new_puppy.name %></p>
    <h3>Puppy Breed:</h3>
    <p><%= @new_puppy.breed %></p>
    <h3>Puppy Age:</h3>
    <p><%= @new_puppy.age %></p>
  </body>
</html>
