
<!-- here we have the ability to call the instance variable @pup which was created in our controller file app.rb in the post route. This post route creates an intsance of a puppy with attributes. this instance is then set to an instance variable that has access to this display_puppy.erb file-->

<h2>Puppy Name: <%= @pup.name %></h2>
<h2>Puppy Breed: <%= @pup.breed %></h2>
<h2>Puppy Age: <%= @pup.age %></h2>
