
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies!</title>
  </head>

  <body>
    <h1>Welcome to Puppy Adoption!</h1>

    <h2>Created Puppies</h2>
    <ul>
      <li>Puppy Name: <%= @name %></li>
      <li>Puppy Breed: <%= @breed %></li>
      <li>Puppy Age: <%= @age %></li>
    </ul>

    <p><a href="/create_puppy">Click here</a> to list another puppy for adoption!</p>

  </body>
</html>
