<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Info!</title>
  </head>
  <body>
    <p>Puppy Name: <%= @puppy_name %></p>
    <p>Puppy Breed: <%= @puppy_breed %></p>
    <p>Puppy Age: <%= @puppy_age %></p>
  </body>
</html>
