
  <div >
    <p>
      <label>Puppy Name:</label>
    <%=@puppy.name %>
    </p>
    <p>
      <label>Puppy Breed:</label>
    <%=@puppy.breed %>
    </p>
    <p>
      <label>Puppy Age:</label>
    <%=@puppy.age %>
    </p>
  </div>

  <p><a href="/">Homepage</a></p>
