<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppie Listing</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adaption Site</h1>
    <h3>Puppy Name: <%= @puppy.name %></h3>
    <h3>Puppy Breed: <%= @puppy.breed %></h3>
    <h3>Puppy Age: <%= @puppy.age %></h3>

  </body>
</html>
