<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Info</title>
  </head>
  <body>
    Puppy Name:
    <%= @new_puppy.name %><br>
    Puppy Breed:
    <%= @new_puppy.breed %><br>
    Puppy Age:
    <%= @new_puppy.age %><br>
  </body>
</html>
