<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <p>Puppy Name: <%= params[:name].to_s %></p>
    <p>Puppy Breed: <%= params[:breed].to_s %></p>
    <p>Puppy Age: <%= params[:age].to_s %></p>
  
  </body>
</html>