<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Display Puppy</title>
  </head>
  <body>

    Puppy Name: <%=@new_puppy.name%><br>
    Puppy Breed: <%=@new_puppy.breed%><br>
    Puppy Age: <%=@new_puppy.age%><br>



  </body>

</html>
