<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adopted</title>
  </head>
  <body>
    <h1>Say Hi to your New Puppy!</h1>
    
    <p>Puppy Name: <%= @name %></p>
    <p>Puppy Breed: <%= @breed %></p>
    <p>Puppy Age: <%= @age %></p>
    
  </body>
</html>