<!DOCTYPE html>
<html>
<head>
  <title>Sell your Puppies!</title>
</head>
<body>
    <h1>Here's your puppy listing!</h1>
    <p>Puppy Name: <%= params[:name] %></p>
    <p>Puppy Breed: <%= params[:breed] %></p>
    <p>Puppy Age: <%= params[:age] %></p>
</body>
</html>
