<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Display</title>
</head>
<body>
  <h1>Puppy Successfully Added!</h1>
  <h2>Puppy Name: <%= @new_puppy.name %></h2>
  <h2>Puppy Breed: <%= @new_puppy.breed %></h2>
  <h2>Puppy Age: <%= @new_puppy.age %></h2>
</body>
</html>
