<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Display Puppy</title>
</head>
<body>
  Puppy Name: <%= @name %><br>
  Puppy Breed: <%= @breed %><br>
  Puppy Age: <%= @age %>
</body>
</html>
