<h2>Puppy Name: <%=@name%></h2>
<h2>Puppy Breed: <%=@breed%></h2>
<h2>Puppy Age: <%=@age%></h2>
<form><p><input type="submit" name="submit"></p></form>
  <button type ="submit" value="submit">Submit</button>
