<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= "Puppy Name:\n#{@pups.name}" %>
    <%= "Puppy Breed:\n#{@pups.breed}" %>
    <%= "Puppy Age:\n#{@pups.age}" %>
  </body>
</html>