<body>

<p>Puppy Name: <%= @puppy.name %></p>
<p>Puppy Breed: <%= @puppy.breed %></p>
<p>Puppy Age: <%= @puppy.age %><month></p>

</body>


<!-- You should be able to just add the string ' months' after <%= @puppy.age %> -->
