<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <li>Puppy Name: <%= @dog.name%></li>
      <li>Puppy Breed: <%= @dog.breed%></li>
      <li>Puppy Age: <%= @dog.age%></li>
    </ul>

  </body>
</html>
