<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New puppy</title>
  </head>
  <body>
    <h1>New puppy</h1>
    <h2>Puppy Name: <%= @pup.name %></h2>
    <h2>Puppy Breed: <%= @pup.breed %></h2>
    <h2>Puppy Age: <%= @pup.age %></h2>
  </body>
