<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Time</title>
  </head>
  <body>
    <h1>Here's your Puppy!</h1>

    <p>Puppy Name: <%=@puppy.name%></p>
    <p>Puppy Breed: <%=@puppy.breed%></p>
    <p>Puppy Age: <%=@puppy.age%></p>

  </body>


</html>
