<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppt</title>
 </head>
 <body>

<p><%=" Puppy Name: #{name}"%></p>
<p><%="Puppy Breed: #{breed}"%> </p>
<p><%="Puppy Age: #{age}"%></p>
<button type= "submit">
</body>
</html>
