<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Home Page</title>
  </head>
  <body>
    <h1>Your Puppy</h1>

    <h2>Puppy Name:</h2>
    <p><%=params[:name]%></p>
    <p>Puppy Breed: <%=params[:breed]%></p>
    <p>Puppy Age: <%=params[:age]%></p>

  </body>
</html>
