<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Puppy</title>
 </head>
 <body>
   <h1>Here Is Your New Puppy!</h1>
    Puppy Name: </br><%= @name %></br>
    Puppy Age: </br><%= @age %></br>
    Puppy Breed: </br><%=@breed %></br>
  </body>
</html>