<html>
<head>
  <title>Displaying results</title>
</heda>
<body>
  <h1> Puppy Name: <%= @my_puppy.name %></h1>
  <h1> Puppy Breed: <%= @my_puppy.breed %></h1>
  <h1> Puppy Age: <%= @my_puppy.age %></h1>
</body>
</html>