<!Doctype html>
<html>
<header>
  <Puppies!>
</header>

<body>
    <h1>New Puppy Information
    <p>Puppy Name: <%= @name %><p>
    <p>Puppy Breed: <%= @breed %><p>
    <p>Puppy Age: <%= @age  %><p>
</body>

</html>
