<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Adoption Site</title>
 </head>
 <body> <!--the name attribute becomes the key for the form data in the params hash-->
   <label>Puppy Name:</label><br>
   <p><%= @puppy.name %></p><br>
   <label>Puppy Breed:</label><br>
   <p><%= @puppy.breed %></p><br>
   <label>Puppy Age:</label><br>
   <p><%= @puppy.age %></p>
 </body>
</html>
