<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Puppy</title>
  </head>

  <body>
    Puppy Name: <%=@pup.name%>
    Puppy Breed: <%=@pup.breed%>
    Puppy Age: <%=@pup.age%>
  </body>
</html>