<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
    <div class="container">

      <h1>Your Puppy</h1>

      <h2>Puppy Name: <%= @yourpuppy.name %></h2>

      <h2>Puppy Breed: <%= @yourpuppy.breed %></h2>

      <h2>Puppy Age: <%= @yourpuppy.age %></h2>
    </div>
  </body>
</html>
