<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puppies!</title>
</head>
<body>
    <h1>Puppies!</h1>
      <h3>Puppy Name: <%= @name %></h3>
      <h3>Puppy Breed: <%= @breed %></h3>
      <h3>Puppy Age: <%= @age %></h3>
      
</body>
</html>