<!DOCTYPE html>
<html>

<H1>Welcome to Puppy Listings</H1>


<h3>Our new puppy:</h3>

  <p>
    Puppy Name:
    <%= @puppy_attributes.name %>
  </p>
  <p>
    Puppy Breed:
    <%= @puppy_attributes.breed %>
  </p>
  <p>
    Puppy Age:
    <%= @puppy_attributes.age %>
  </p>




</html>
