<!DOCTYPE html>
<html>
<head>
  <title>New Puppy</title>
</head>
<body>
  <h1>This is your new puppy!</h1>

  <h2>Puppy Name: <%= @puppy.name %> </h2>
  <h2>Puppy Breed: <%= @puppy.breed %> </h2>
  <h2>Puppy Age: <%= @puppy.age %> </h2>
</body>
</html>
