<!DOCTYPE html>
<html>
<head>
  <title>Puppies' permanent home sweet home</title>
</head>
<body>
  <h1>Welcome to Puppy Center</h1>
  <h4>This is your puppyyyy!</h4>
  <p>Puppy Name: <%= @puppy.name %></p>
  <p>Puppy Age: <%= @puppy.age %></p>
  <p>Puppy Breed: <%= @puppy.breed %></p>

</body>
</html>