<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ADOPT</title>
  </head>
  <body>
  <h3>Puppy Name: <%= @name %></h3>
  <h3>Puppy Age: <%= @age %></h3>
  <h3>Puppy Breed: <%= @breed %></h3>
  </body>
  </html>
