<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Hi! Welcome to the Puppy Adoption Site</h1>
    <p>Puppy Name: <%= @puppy.name %></p>
    <p>
      Puppy Age: <%= @puppy.age %>
    </p>
    <p>
      Puppy Breed: <%= @puppy.breed %>
    </p>
  </body>
</html>
