<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
 </head>
 <body>
  <h1> The new puppy </h1>

      Puppy Name: <%= @puppy.name %><br>
      Puppy Age: <%= @puppy.age %><br>
      Puppy Breed: <%= @puppy.breed %>


 </body>
</html>
