<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<div class="row">
  <div class="card mx-auto" style="width: 18rem; float:left;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM3LQU-ZbNqFI7YGI_ZXzFMYMYCEzbwIw_JaC-IDbN0lfqwiRD_g" alt="List a Pup">
    <div class="card-body">
      <h5 class="card-title">List a Pup</h5>
      <p class="card-text">Not able to provide your pup with the love he/she deserves? We totally understand.</p>
      <a href="/new" class="btn btn-primary">Click Here To List A Puppy</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 18rem;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhEqRG35Yb65Fdex56rq5GmYHgAB1gunzUOZERDWWWJbV5Nd1ieA" alt="Adopt a Pup">
    <div class="card-body">
      <h5 class="card-title">Adopt a Pup</h5>
      <p class="card-text">Feeling like you're ready for some puppy love?</p>
      <a href="#" class="btn btn-primary">Click Here To Adopt A Puppy</a>
    </div>
  </div>
</div>
