<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADOPT PUPPIES</title>
  </head>
  <body>
    <p>Would you like to adopt a puppy?</p>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
