<h1>Welcome!</h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa34WMSrha5kgx_g6rjSxBkPFyCGYCkqMDOMrPILNgK252C5t_" alt="Pickett the Pup">

  <ul>
    <p><a href="/new">Click Here To List A Puppy</a></p>
  </ul>
