<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Adopt Puppies!</title>
  </head>
  <body>


    <h1>Adopt Puppies!</h1>
    <a href="/new">Click Here To List A Puppy</a>



  </body>
</html>
