<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Puppy Store</title>
  </head>
  <body>
    <h1>Want a puppy?</h1>

    <h2>We got lots of them because of our adoption services.</h2>
    <h3><a href=/new>Click Here To List A Puppy</a></h3>

  </body>
</html>
