
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies!</title>
  </head>
  <body>
    <h1>Welcome to Puppy Adoption!</h1>

    <p><a href="/new">Click Here To List A Puppy</a></p>

  </body>
</html>
