<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Picker</title>
  </head>
  <body>
    <h1>Welcome to the puppy picker!</h1>
    <p><a href="new">Click Here To List A Puppy</a></p>
  </body>
</html>
