<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to our Puppy Adoption!</h1>
    <br>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
