<!DOCTYPE html>
<html>
  <header>
    <title>Puppies!</title>
  </header>

  <body>
    <form method="GET" action="/new">
    <a href="/new">Click Here To List A Puppy</a>
    <!-- <button type="submit" value="submit">List a Puppy!</button> -->
  </form>
  </body>
</html>
