<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Puppy Adoption</h1>

    <p>Welcome to the Puppy Adoption Site!</p>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
