<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Index</title>
  </head>
  <body>
    <h1>Welcome to Puppy Adoption!</h1>
    <a href="http://165.227.31.156:45912/new">Click Here To List A Puppy</a>

  </body>
</html>
