<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Welcome to the Puppy Adoption Site</h1>
        <p></p>
    </body>
    <a href="views/create_puppy">Click Here To List A Puppy </a>


</html>
