<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/new" method="get">
      <a href="/new">Click Here To List A Puppy</a>
      <!-- <p>Click Here To List A Puppy<input type="submit" name="" value="Click Here To List A Puppy"></p> -->
    </form>

  </body>
</html>
