<div class="starter-template">
  <h1>Puppy Adoptions!</h1>
  <p class="lead">This page is to help get puppies adopted! <a href="/new">Click Here To List A Puppy</a> so they can find a new home.</p>
</div>
