<html>
<head>
  <meta charset="UTF-8">
  <title>Puppy Site</title>
</head>

<body>
  <h1> Welcome to the Puppies Adoption Center </h1>
  <a href = "/new" >Click Here To List A Puppy</a>
</body>
</html>
