<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Adopt a Puppy!</title
  </head>
  <style>
  body {
    background-color: lightblue;
  }
  h1 {
    color: purple;
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h3{
    text-align: center;
  }
  </style>
  <body>
    <h1> Welcome to the puppy adoption site!</h1>
    <h2><a href="/new">List A Puppy</a></h2>
    <h3><img src="https://gfp-2a3tnpzj.stackpathdns.com/wp-content/uploads/2019/01/litter-of-terrier-mix-puppies-in-a-blue-dog-bed-600x600.jpg"></h3>
  </body>
</html>
