<h1>Welcome To The Puppy Adoption Site!</h1>

<h2>Want to adopt?</h2>
<h3>To see the list of available puppies, <a href="/display_puppy">click here!</a></h3>

<h2>Know a puppy looking for a new home?</h2>
<h3><a href="/new">Click Here To List A Puppy</a></h3>