<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Shelter</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Shelter</h1>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
