<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies!</title>
  </head>
  <body>
    <h1>PuppyBook</h1>
    <h2>List A Puppy</h2>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
