<!DOCTYPE html>
<html>
<head>
	<title>Welcome To PuppyVille!</title>
</head>
<body>

<h1>We've got all kinds of cute puppies and stuff!</h1>
<img src="https://camo.githubusercontent.com/aa50717a035e6fac55539cc93ae27ed1c9ca1c9a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6c6561726e2d76657269666965642f707570706965732e676966">

<a href="/new">Click Here To List A Puppy</a>

</body>
</html>