<!DOCTYPE html>
<html>
<header>
  <meta charset="utf-8">
  <title>Welcome</title>
</header>
<body>
  <h1>Sam's Pet Adoption Store</h1>
  <form method = "POST" action= "/new">#just changed this from "/createPuppy"
<a href ='/new'>"Click Here To List A Puppy"</a>
</form>
</body>
