<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppie Listing</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adaption Site</h1>
    <a href="/new"><h3>Click Here To List A Puppy</h3></a>

  </body>
</html>
