<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p><a href="/NEW">Click Here To List A Puppy</a></p>
    </form>
  </body>
</html>