<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome to GoodPuppy!</h1>
  <h2>Home of the Good Puppies</h2>
  <h3>May we take your order?</h3>
  <a href="/new">Click Here To List A Puppy</a>

</body>
</html>