<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pig Latinizer!</title>
    </head>
    <body>
        <h1>List-a-pup!</h1>
        <a href='/new'>Click Here To List A Puppy</a>
    </body>
</html>
