<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Local Pet Adoption</title>
  </head>
  <body>
    <h1>Pet Adoption Listings</h1>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>