<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site</h1>
    <form method="get" action="/">
  <a href= "">Click Here To List A Puppy </a>

  <textarea name="user_phrase" id= "user_phrase"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
  
  </body>
</html>