<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Welcome to Our Puppy Adoption Site!</h1>

    <form method="GET" action="/new">
      <h2><a href="/new">Click Here To List A Puppy</a></h2> 
      <input type="submit">
    </form>

  </body>
</html>