<!DOCTYPE html>
<html>
    <head>
        <title> Adoptable Pups!</title>
    </head>
    <body>
        <h1> Welcome to Adoptable Pups!</h1>
        <a href="/new"> Click Here To List A Puppy</a>
    </body>
</html>
