<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Welcome To The Puppy Adoption Site</h1>
    <a href="http://159.203.91.59:30002/new">Click Here To List A Puppy</a>
  </body>
</html>
