<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p><a href="/create_puppy.erb">Click Here To List A Puppy</a><p/>

  </body>
</html>
