<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puppy</title>
</head>
<body>
  <h1>Welcome to the Pupppy adoption site.</h1>
  <a href="/new">Click Here To List A Puppy</a>
</body>
</html>