<!DOCTYPE html>
<html>
  <header>
    <title></title>
  </header>
  <body>
    <!--<h1>Puppy Adoption Site</h1>

    page.has_link? "next_page", url_path

    #has_link?(locator, options = {}) ⇒ Boolean
    Checks if the page or current node has a link with the given text or id.
    Parameters:
    locator (String) — The text or id of a link to check for
    options (defaults to: {})
    Options Hash (options):
    :href (String, Regexp) — The value the href attribute must be
    Returns:
    (Boolean) — Whether it exists
    <link rel="stylesheet" href='/'>"Click Here To List A Puppy"</link>
    <link rel="stylesheet" href="/css/style.css">-->

  </body>
</html>
