<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/new" method="POST">
      <label for="page_title"><h1>Welcome to Puppy Adoption!</h1></label>

    </form>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to my Puppy Adoption Site</h1>
    <h3>Please Adopt a New Puppy</h3>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
