<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcom to Puppy adoption site</h1>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
