<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Your Basic Puppy Site</h1>
      <a href="/new">Click Here To List A Puppy</a>
  </body>
</html> -->
<h1> Welcome to the puppy adoption site!</h1>
<a href="/new">Click Here To List A Puppy</a>
