<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Agency</title>
  </head>
  
  <body>
    <h1>Welcome to the Puppy Adoption Agency!</h1>  
    <a href="/new"><h2>Click Here To List A Puppy</h2></a>
    
  </body>
  
</html>