<h1>Welcome to the Puppy Adoption Site </h1>
<a  href="/new">Click Here To List A Puppy" </a>

<form method="post" action="/">
  <p>Click Here To List A Puppy</p>
  <button type="submit" value="submit">New Puppy</button>
</form>
