<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
    </head>
    <body>
        <h1> Welcome!</h1>
        <p> <a href="/new">Click Here To List A Puppy</a> </p>
    </body>
</html>