<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Adopt a Puppy Today!</title>
 </head>
 <body>
   <h1>Puppy Adoption Site</h1>
   <h2><a href="/create_puppy"> Click Here To List A Puppy </a></h2>
   <h2> Puppies Currently Available: </h2>
   <ul>
     <li> Bobby </li>
     <li> Lisa </li>
     <li> Spot </li>
   </ul>
 </body>
</html>
