<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Puppy Adoption Super Store!</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
    <div class="container">
    <a href="/new">Click Here To List A Puppy</a>
    </div>
  </body>
</html>