<!DOCTYPE html>
<html>
<head>
  <title>Puppies' permanent home sweet home</title>
</head>
<body>
  <h1>Welcome to Puppy Center</h1>
  <h4><a href="/new">Click Here To List A Puppy</a></h4>
</body>
</html>