<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
      <h1>Welcome to the Puppy page</h1>
      <a href="/new">Click Here To List A Puppy</a>

  </body>
</html>
