<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption</title>
  </head>
  <body>
    <h1>Puppy Adoption</h1>
    <a href="/new">Click Here To List A Puppy:</a>
<!--     <form method="post" action="/">
      <p>Click Here To List A Puppy:</p>
      <textarea name="create_puppy"></textarea>
      <br>
      <input type="submit" id="submit">
    </form> -->
  </body>
</html>