<!DOCTYPE html>
<html>
<head>
  <title>Puppy</title>
</head>
<body>
  <h1>Puppy Love</h1>
  <h2> Bet You Can't Leave without puppies</h2>
  <p>Awesome Pups</p>
  <!--https://www.w3schools.com/html/html_links.asp-->
  <a href="/new"> Click Here To List A Puppy</a>
</body>
</html>
