<!DOCTYPE html>
<html>
  <header>
    <title>Puppy Adoption</title>
  </header>
  <body>
    <h1>Welcome to Puppy Adoption!</h1>

    <form method="GET" action="/new">
      <a href="/new">Click Here To List A Puppy</a>
    </form>
  </body>

</html>
