<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppies 'r' Us!</title>
  </head>
  <body>
    <h2>Welcome to Your Puppy Paradise!</h2>
    <a href="/new">Click Here To List A Puppy.</a>
  </body>
</html>
