<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Homepage</title>
  </head>
  <body>
    <a href="/new">Click Here To List A Puppy</a>
    <link rel="stylesheet" type="text/css" href="/new">
  </body>
</html>
