<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Local Pet Adoption Store!</title>
  </head>

  <body>
    <div class="container">
      <h1>Welcome to the Local Pet Adoption Store!</h1>
      <a href="create_puppy.erb">Click Here To List A Puppy</a>
    </div>
  </body>
</html>
