<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pet Adoption Page</title>
  </head>
  <body>
    
    <a href="/new"><h1>Click Here To List A Puppy</h1></a>
  
  </body>
</html>

