<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies!</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site!</h1>

    <a href="new">Click Here To List A Puppy</a>
    <!--
    <form method="POST" action="/piglatinize">
      Enter your phrase: <input type="text" name="user_phrase">
      <input type="submit" value="Submit">    
    </form>
  -->
  </body>
</html>
