<!DOCTYPE html>
<html>
<head>
<h1>Puppy Adoption Site </h1>
</head>
<body>
  <h1> Welcome to the Puppy Adoption Site </h1>
  <h2><a href="create_puppy.erb"> Click Here To List A Puppy </a> </h2>
</body>
