<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PUPPIES</title>
    </head>
    <body>
        <h1>Welcome to Puppy Adoption Center</h1>
        <p>
            <a href='/new'>Click Here To List A Puppy</a>
        </p>
        </form>
    </body>
</html>