<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy Site - index</title>
  </head>
  <body>
    <a href="#">Click Here To List A Puppy</a>
    <br><br>
    <a href="/new">Click Here To Create A Puppy</a>
  </body>
</html>
