<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BFF Adoption</title>
  </head>
  <body>
    <h1>Best Friends Adoption</h1>

    <h2>Want to see the pupies we have</h2>
    <a href="/new">Click Here To List A Puppy</a>

  </body>
</html>
