<!Doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppies</title>
  </head>
 
  <body>
  	<h2>Welcome to the Puppy Adoption Site!</h2>
  	<img src="https://s3.amazonaws.com/learn-verified/puppies.gif">
  	<P></P>
  	<a href="/new">Click Here To List A Puppy!</a>
  </body>