<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Welcome!</h1>
      <a href="/create_puppy.rb">Click Here To List A Puppy</a>
      <a href="/display_puppy.rb">Click Here To List Available Puppies</a>
  </body>
</html>
