<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption Site</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>This is the Puppy Adoption Site!</h2>
    <form method="get" action="/new">
      <a href="/new">Click Here To List A Puppy</a>
      </form>
  </body>
</html>
