<!doctype html>
<html>
  <head>
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Welcome to Puppy Adoption!</h1>
    <p><a href="./new">Click Here To List A Puppy</a></p>
  </body>
</html>
