<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a Puppy!</title>
  </head>
  <body>
    <h1>Create a Puppy!</h1>
    <a href="new">Click Here To List A Puppy</a>

  </body>
</html>
