<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site!</h1>
    <ol type="1">
      <li><a href="/new">Click Here To List A Puppy</a></li>
    </ol>
  </body>
</html>
