<h1> Welcome to the puppy adoption site!</h1>

<a href="/new">Click Here To List A Puppy</a>

<!-- it 'sends a 200 status code' do
  get '/'
  expect(last_response.status).to eq(200)
end

it 'renders welcome' do
  visit '/'
  expect(page).to have_link("Click Here To List A Puppy")
end -->
