<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Site</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
    <div class="container">
      <h1>Puppy Adoption Site</h1>

      <%= yield %>

    </div>
  </body>
</html>
