<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <div style="margin:2em auto; text-align:center;">

      <%= yield %>
      
    </div>
  </body>
</html>
