  <h1>View the New Puppy</h1>

  <form action"/" method="post">

      <h1>name: <%=@n%></h1>
      <h1>breed: <%=@b%></h1>
      <h1>age : <%=@a%></h1>
  <br>
    <h1><input type="submit">Submit</h1>
  </form>
